/*!
 * Bootstrap v2.1.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 * 
 * Custom styles by Keystone Resources - http://www.keystoneresources.com
 * Job #B193 Suites of Hope 2012
 */
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
body {
  min-width: 960px;
}
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11 {
  position: relative;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.container_12 .grid_1 {
  width: 60px;
}
.container_12 .grid_2 {
  width: 140px;
}
.container_12 .grid_3 {
  width: 220px;
}
.container_12 .grid_4 {
  width: 300px;
}
.container_12 .grid_5 {
  width: 380px;
}
.container_12 .grid_6 {
  width: 460px;
}
.container_12 .grid_7 {
  width: 540px;
}
.container_12 .grid_8 {
  width: 620px;
}
.container_12 .grid_9 {
  width: 700px;
}
.container_12 .grid_10 {
  width: 780px;
}
.container_12 .grid_11 {
  width: 860px;
}
.container_12 .grid_12 {
  width: 940px;
}
.container_12 .prefix_1 {
  padding-left: 80px;
}
.container_12 .prefix_2 {
  padding-left: 160px;
}
.container_12 .prefix_3 {
  padding-left: 240px;
}
.container_12 .prefix_4 {
  padding-left: 320px;
}
.container_12 .prefix_5 {
  padding-left: 400px;
}
.container_12 .prefix_6 {
  padding-left: 480px;
}
.container_12 .prefix_7 {
  padding-left: 560px;
}
.container_12 .prefix_8 {
  padding-left: 640px;
}
.container_12 .prefix_9 {
  padding-left: 720px;
}
.container_12 .prefix_10 {
  padding-left: 800px;
}
.container_12 .prefix_11 {
  padding-left: 880px;
}
.container_12 .suffix_1 {
  padding-right: 80px;
}
.container_12 .suffix_2 {
  padding-right: 160px;
}
.container_12 .suffix_3 {
  padding-right: 240px;
}
.container_12 .suffix_4 {
  padding-right: 320px;
}
.container_12 .suffix_5 {
  padding-right: 400px;
}
.container_12 .suffix_6 {
  padding-right: 480px;
}
.container_12 .suffix_7 {
  padding-right: 560px;
}
.container_12 .suffix_8 {
  padding-right: 640px;
}
.container_12 .suffix_9 {
  padding-right: 720px;
}
.container_12 .suffix_10 {
  padding-right: 800px;
}
.container_12 .suffix_11 {
  padding-right: 880px;
}
.container_12 .push_1 {
  left: 80px;
}
.container_12 .push_2 {
  left: 160px;
}
.container_12 .push_3 {
  left: 240px;
}
.container_12 .push_4 {
  left: 320px;
}
.container_12 .push_5 {
  left: 400px;
}
.container_12 .push_6 {
  left: 480px;
}
.container_12 .push_7 {
  left: 560px;
}
.container_12 .push_8 {
  left: 640px;
}
.container_12 .push_9 {
  left: 720px;
}
.container_12 .push_10 {
  left: 800px;
}
.container_12 .push_11 {
  left: 880px;
}
.container_12 .pull_1 {
  left: -80px;
}
.container_12 .pull_2 {
  left: -160px;
}
.container_12 .pull_3 {
  left: -240px;
}
.container_12 .pull_4 {
  left: -320px;
}
.container_12 .pull_5 {
  left: -400px;
}
.container_12 .pull_6 {
  left: -480px;
}
.container_12 .pull_7 {
  left: -560px;
}
.container_12 .pull_8 {
  left: -640px;
}
.container_12 .pull_9 {
  left: -720px;
}
.container_12 .pull_10 {
  left: -800px;
}
.container_12 .pull_11 {
  left: -880px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_12:after {
  clear: both;
}
.clearfix,
.container_12 {
  zoom: 1;
}
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 15px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input,
textarea {
  width: 210px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(159, 118, 126, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159,118,126,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159,118,126,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159,118,126,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #bbb;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 590px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 926px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 846px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 766px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 686px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 606px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 526px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 446px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 366px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 286px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 206px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 126px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 46px;
}
.controls-row {
  zoom: 1;
  *zoom: 1;
}
.controls-row:before,
.controls-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.controls-row:after {
  clear: both;
}
.controls-row [class*="span"] {
  float: left;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning .checkbox:focus,
.control-group.warning .radio:focus,
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success .checkbox:focus,
.control-group.success .radio:focus,
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  zoom: 1;
  *zoom: 1;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-actions:after {
  clear: both;
}
.help-block,
.help-inline {
  color: #595959;
}
.help-block {
  display: block;
  margin-bottom: 10px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.input-append,
.input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  font-size: 14px;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn {
  margin-left: -1px;
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  zoom: 1;
  *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-right-topleft: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}
table [class*=span],
.row-fluid table [class*=span] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
table .span13 {
  float: none;
  width: 1004px;
  margin-left: 0;
}
table .span14 {
  float: none;
  width: 1084px;
  margin-left: 0;
}
table .span15 {
  float: none;
  width: 1164px;
  margin-left: 0;
}
table .span16 {
  float: none;
  width: 1244px;
  margin-left: 0;
}
table .span17 {
  float: none;
  width: 1324px;
  margin-left: 0;
}
table .span18 {
  float: none;
  width: 1404px;
  margin-left: 0;
}
table .span19 {
  float: none;
  width: 1484px;
  margin-left: 0;
}
table .span20 {
  float: none;
  width: 1564px;
  margin-left: 0;
}
table .span21 {
  float: none;
  width: 1644px;
  margin-left: 0;
}
table .span22 {
  float: none;
  width: 1724px;
  margin-left: 0;
}
table .span23 {
  float: none;
  width: 1804px;
  margin-left: 0;
}
table .span24 {
  float: none;
  width: 1884px;
  margin-left: 0;
}
.table tbody tr.success td {
  background-color: #dff0d8;
}
.table tbody tr.error td {
  background-color: #f2dede;
}
.table tbody tr.info td {
  background-color: #d9edf7;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
html,
button,
input,
select,
textarea {
  color: #222222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #f3d3c4;
  text-shadow: none;
}
::selection {
  background: #f3d3c4;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eeeeee;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #eeeeee;
  color: #000000;
  padding: 0.2em 0;
}
/* ==|== primary styles =====================================================
   Author: Roger Sullivan & Shonna Godoy
   ========================================================================== */
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  background-color: #f7f4dd;
  font-size: 18px;
  line-height: 28px;
}
body.page-1 {
  background-color: none;
}
p {
  font-size: 14px;
  line-height: 20px;
}
p a {
  color: #9f767e;
}
p a:active,
p a:hover {
  color: #9f767e;
  text-decoration: underline;
}
h1 {
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  font-family: "museo-slab", serif;
}
h3 {
  font-size: 17px;
  line-height: 21px;
  font-weight: bold;
}
ul li a {
  font-size: 17px;
  font-weight: bold;
  color: #a29b3d;
}
ul li a:active,
ul li a:hover {
  color: #9f767e;
  text-decoration: none;
}
hr {
  margin: 20px 0 0 0;
  height: 2px;
  border-top: 2px solid #ccbd91;
}
hr.general {
  margin-top: 30px;
}
.hr_key {
  margin-top: -15px;
  background: url(../img/elements/key.png) center -27px no-repeat;
  height: 27px;
}
.hr_key.footer_key {
  background: url(../img/elements/key.png) center 0px no-repeat;
}
.hr_key.contribute_key {
  background: url(../img/elements/key_pink.png) center center no-repeat;
}
header {
  background: url(../img/elements/bg_nav.png) center center no-repeat;
  height: 176px;
  margin: 0 0 50px 0;
}
header a.main_logo {
  float: left;
  width: 230px;
  height: 96px;
  background: url(../img/elements/soh_logo.png) center center no-repeat;
  margin: 30px 0 0 0;
}
header ul {
  list-style-type: none;
  margin: 45px 0 0 0;
}
header ul li {
  text-align: center;
  float: left;
  padding: 0 17px 0 17px;
  height: 36px;
  background: url(../img/elements/nav_icons.png) center 45px no-repeat transparent;
}
header ul li#icon_1.active,
header ul li#icon_1:hover {
  background-position: center 0px;
}
header ul li#icon_2.active,
header ul li#icon_2:hover {
  background-position: center -35px;
}
header ul li#icon_3.active,
header ul li#icon_3:hover {
  background-position: center -72px;
}
header ul li#icon_4.active,
header ul li#icon_4:hover {
  background-position: center -108px;
}
header ul li#icon_5.active,
header ul li#icon_5:hover {
  background-position: center -144px;
}
header ul li#icon_6.active,
header ul li#icon_6:hover {
  background-position: center -179px;
}
header ul li.active a {
  color: #9f767e;
}
header ul li a {
  display: block;
  padding: 42px 0 0 0;
}
a.donate_tab {
  width: 87px;
  height: 71px;
  position: fixed;
  top: 230px;
  right: 0;
  background: url(../img/elements/donate_side.png) center center no-repeat;
}
a.scrollup_tab {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 330px;
  right: 36px;
  background: url(../img/elements/arrow_up.png) center center no-repeat;
  display: none;
}
.home_content_border {
  background-color: #e56d6c;
}
.home_content_border .home_content {
  background-color: #e56d6c;
  border: 4px solid #ffffff;
  margin: 1px;
  padding: 57px 25px;
}
.home_content_border .home_content h1 {
  margin: 0;
  color: white;
}
.home_box_border {
  margin-top: 20px;
}
.home_box_border.box_1 {
  background-color: #9f767e;
}
.home_box_border.box_2 {
  background-color: #a29b3d;
}
.home_box_border.box_3 {
  background-color: #d2ae32;
}
.home_box_border a:active,
.home_box_border a:hover {
  text-decoration: none;
}
.home_box_border .home_box {
  min-height: 160px;
  margin: 1px;
  border: 4px solid #ffffff;
}
.home_box_border .home_box h1 {
  margin: 17px 0 0 0;
  padding: 0 0 0 60px;
  color: white;
}
.home_box_border .home_box p {
  padding: 10px 14px 0 14px;
  color: white;
}
.home_box_border .home_box.box_1 {
  background-color: #9f767e;
}
.home_box_border .home_box.box_1 h1 {
  background: url(../img/elements/hm_icons.png) 5px 0px no-repeat;
}
.home_box_border .home_box.box_2 {
  background-color: #a29b3d;
}
.home_box_border .home_box.box_2 h1 {
  background: url(../img/elements/hm_icons.png) 5px -35px no-repeat;
}
.home_box_border .home_box.box_3 {
  background-color: #d2ae32;
}
.home_box_border .home_box.box_3 h1 {
  padding: 0 0 0 80px;
  background: url(../img/elements/hm_icons.png) 15px -70px no-repeat;
}
.content_banner_border {
  margin-top: -20px;
}
.content_banner_border.about {
  background-color: #a29b3d;
}
.content_banner_border.suites {
  background-color: #ccbd91;
}
.content_banner_border.donate {
  background-color: #9f767e;
}
.content_banner_border.contribute {
  background-color: #ccbd91;
}
.content_banner_border.contact {
  background-color: #ccbd91;
}
.content_banner_border .content_banner {
  border: 4px solid #ffffff;
  margin: 1px;
  min-height: 216px;
  color: white;
}
.content_banner_border .content_banner.about {
  background: url(../img/elements/bg_about.png) center center no-repeat;
  color: #ffffff;
}
.content_banner_border .content_banner.about p {
  color: #ffffff;
}
.content_banner_border .content_banner.suites {
  background: url(../img/elements/img_suites.png) center center no-repeat;
  color: #9f767e;
}
.content_banner_border .content_banner.suites p,
.content_banner_border .content_banner.suites h1 {
  color: #9f767e;
}
.content_banner_border .content_banner.donate {
  color: #ffffff;
  background-color: #84636a;
}
.content_banner_border .content_banner.donate p {
  color: #ffffff;
}
.content_banner_border .content_banner.contribute {
  background: url(../img/elements/bg_contributors.png) center center no-repeat;
}
.content_banner_border .content_banner.contribute p,
.content_banner_border .content_banner.contribute h1 {
  color: #ffffff;
}
.content_banner_border .content_banner.contact {
  background: url(../img/elements/bg_contact.png) center center no-repeat;
  color: #a29b3d;
}
.content_banner_border .content_banner .introtext {
  font-size: 18px;
  line-height: 28px;
  padding: 21px 30px 0 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}
.content_banner_border .content_banner .pullquote {
  font-family: "museo-slab", serif;
  font-size: 25px;
  line-height: 36px;
  padding: 21px 0 0 30px;
  font-weight: bold;
}
.content_banner_border .content_banner .introtext_donate_quote {
  margin-top: -10px;
}
.content_banner_border .content_banner .introtext_donate_button {
  background: url(../img/elements/donate_here.png) center center no-repeat;
  width: 148px;
  height: 148px;
  border: 0;
  margin-top: -45px;
  display: block;
}
.main_content_top_bg {
  background-color: white;
  margin-top: 30px;
  min-height: 200px;
  padding-bottom: 25px;
}
.main_content_top_bg .main_content_top ul.sub_nav {
  list-style-type: none;
  padding-bottom: 30px;
}
.main_content_top_bg .main_content_top ul.sub_nav li {
  text-align: center;
  float: left;
  margin-right: 70px;
  height: 36px;
  background: url(../img/elements/subnav_icons.png) top center no-repeat transparent;
}
.main_content_top_bg .main_content_top ul.sub_nav li.about_icon_1 {
  background-position: top center;
}
.main_content_top_bg .main_content_top ul.sub_nav li.about_icon_1:active,
.main_content_top_bg .main_content_top ul.sub_nav li.about_icon_1:hover {
  background-position: center -288px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.about_icon_2 {
  background-position: center -36px;
  margin-left: 0;
  margin-right: 0;
}
.main_content_top_bg .main_content_top ul.sub_nav li.about_icon_2:active,
.main_content_top_bg .main_content_top ul.sub_nav li.about_icon_2:hover {
  background-position: center -324px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.suite_icon_1 {
  background-position: center -72px;
  margin-right: 80px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.suite_icon_1:active,
.main_content_top_bg .main_content_top ul.sub_nav li.suite_icon_1:hover {
  background-position: center -360px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.suite_icon_2 {
  background-position: center -109px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.suite_icon_2:active,
.main_content_top_bg .main_content_top ul.sub_nav li.suite_icon_2:hover {
  background-position: center -397px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.donor_icon_1 {
  background-position: center -144px;
  margin-right: 37px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.donor_icon_1:active,
.main_content_top_bg .main_content_top ul.sub_nav li.donor_icon_1:hover {
  background-position: center -432px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.donor_icon_2 {
  background-position: center -180px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.donor_icon_2:active,
.main_content_top_bg .main_content_top ul.sub_nav li.donor_icon_2:hover {
  background-position: center -468px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contribute_icon_1 {
  background-position: center -216px;
  margin-left: 35px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contribute_icon_1:active,
.main_content_top_bg .main_content_top ul.sub_nav li.contribute_icon_1:hover {
  background-position: center -504px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contribute_icon_2 {
  background-position: center -252px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contribute_icon_2:active,
.main_content_top_bg .main_content_top ul.sub_nav li.contribute_icon_2:hover {
  background-position: center -540px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contact_icon_1 {
  background-position: center -144px;
  margin-right: 90px;
  margin-left: 10px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contact_icon_1:active,
.main_content_top_bg .main_content_top ul.sub_nav li.contact_icon_1:hover {
  background-position: center -432px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contact_icon_2 {
  background-position: center -249px;
}
.main_content_top_bg .main_content_top ul.sub_nav li.contact_icon_2:active,
.main_content_top_bg .main_content_top ul.sub_nav li.contact_icon_2:hover {
  background-position: center -538px;
}
.main_content_top_bg .main_content_top ul.sub_nav li a {
  display: block;
  padding-top: 45px;
}
.main_content_top_bg .content_header {
  text-align: center;
}
.main_content_top_bg .content_header h1 {
  position: relative;
  top: -23px;
  padding: 0 15px;
  display: inline;
  background-color: #ffffff;
}
.main_content_top_bg .content_header.about h1 {
  color: #d2ae32;
}
.main_content_top_bg .content_header.suites h1 {
  color: #9f767e;
}
.main_content_top_bg .content_header.donate h1 {
  color: #a29b3d;
}
.main_content_top_bg .content_header.contribute h1 {
  color: #d2ae32;
}
.main_content_top_bg .content_header.contact h1 {
  color: #9f767e;
}
.main_content_top_bg .content_header.general h1 {
  color: #a29b3d;
}
.main_content_bottom {
  min-height: 200px;
  margin-bottom: -50px;
  padding-top: 10px;
  padding-bottom: 35px;
}
.main_content_bottom h1,
.main_content_bottom p {
  color: #ffffff;
}
.main_content_bottom.about {
  background-color: #d2ae32;
}
.main_content_bottom.suites {
  background-color: #9f767e;
}
.main_content_bottom.donate {
  background-color: #a29b3d;
  margin-top: -20px;
  padding-bottom: 30px;
}
.main_content_bottom.contribute {
  background-color: #e56d6c;
}
.main_content_bottom hr {
  border-top: 2px solid #ffffff;
}
.main_content_bottom hr.contribute_hr1 {
  border-top: 2px solid #e56d6c;
}
.main_content_bottom hr.contribute_hr2 {
  border-top: 2px solid #e56d6c;
}
.main_content_bottom .content_header {
  text-align: center;
}
.main_content_bottom .content_header h1 {
  position: relative;
  top: -23px;
  padding: 0 15px;
  display: inline;
}
.main_content_bottom .content_header.about h1 {
  background-color: #d2ae32;
}
.main_content_bottom .content_header.suites h1 {
  background-color: #9f767e;
}
.main_content_bottom .content_header.donate h1 {
  background-color: #a29b3d;
}
.main_content_bottom .content_header.contribute h1 {
  background-color: #e56d6c;
}
.about_image_border {
  background-color: #ccbd91;
}
.about_image_border img {
  vertical-align: center;
  border: 4px solid white;
  margin: 1px;
  width: 290px;
}
p {
  margin: 0 0 10px 0;
  color: #585743;
}
.bio_box_border {
  background-color: #bd9c29;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;
}
.bio_box_border .bio_box {
  background-color: #f7f4dd;
  margin: 2px;
  padding: 20px 10px 1px 0;
  border-radius: 17px 17px 17px 17px;
  float: left;
  min-height: 424px;
}
.bio_box_border .bio_box p {
  color: #a78305;
  padding-left: 16px;
  margin: 0 0 10px 0;
}
.bio_box_border .bio_box .bio_box_content_top {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.bio_box_border .bio_box .bio_box_content_top img {
  border: 1px solid #bd9c29;
  margin: 0 15px 0 15px;
  float: left;
}
.bio_box_border .bio_box .bio_box_content_top .bio_title {
  position: absolute;
  bottom: -10px;
  left: 150px;
}
.bio_box_border .bio_box .bio_box_content_top .bio_title .name {
  padding: 20px 0 0 0;
  width: 100%;
  margin: 0;
  font-weight: bold;
  line-height: 24px;
}
.bio_box_border .bio_box .bio_box_content_bottom {
  float: left;
}
.ie9 .about_image_border img {
  margin-top: 2px;
}
.suite_slideshow_nav {
  background-color: #f7f4dd;
}
.suite_slideshow_nav ul {
  margin: 0 0 0 10px;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}
.suite_slideshow_nav ul li {
  float: left;
  padding: 5px 11px;
}
.suite_slideshow_nav ul li a {
  padding: 5px 11px;
}
.suite_slideshow_nav ul li a.active {
  color: #9f767e;
}
.arrow_container {
  height: 33px;
  width: 30px;
}
.arrow_container a.suite_slideshow_arrow,
.arrow_container a.story_slideshow_arrow {
  background: url(../img/elements/arrow_left.png) center center no-repeat transparent;
  height: 33px;
  width: 30px;
  display: block;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 23px;
}
.arrow_container a.suite_slideshow_arrow.right,
.arrow_container a.story_slideshow_arrow.right {
  margin-left: 6px;
  background: url(../img/elements/arrow_right.png) center center no-repeat transparent;
  float: left;
}
.arrow_container a.suite_slideshow_arrow.storyB_arrow,
.arrow_container a.story_slideshow_arrow.storyB_arrow {
  margin-top: 75px;
}
.arrow_container a.suite_slideshow_arrow.storyC_arrow,
.arrow_container a.story_slideshow_arrow.storyC_arrow {
  margin-top: 30px;
}
.suite_slideshow {
  margin-top: 25px;
  color: #585743;
}
.suite_slideshow .image_border {
  background-color: #ccbd91;
  height: 144px;
  margin-bottom: 8px;
}
.suite_slideshow .image_border img {
  vertical-align: center;
  border: 4px solid #ffffff;
  margin: 1px;
  width: 210px;
  height: 134px;
}
.suite_slideshow .image_border a {
  color: #ffffff;
}
.suite_slideshow .image_border a:active,
.suite_slideshow .image_border a:hover {
  color: #ffffff;
}
.suite_slideshow .suite_info_area {
  min-height: 100px;
  overflow: hidden;
  padding-bottom: 10px;
}
.suite_slideshow a.title {
  color: #9f767e;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.suite_slideshow a.title:active,
.suite_slideshow a.title:hover {
  color: #84636a;
  text-decoration: none;
}
.suite_slideshow h3 {
  color: #9f767e;
  padding: 6px 0;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.suite_slideshow p {
  margin: 0;
  padding: 0 10px 5px 0;
}
.suite_slideshow .suite_list_area {
  min-height: 230px;
  padding-bottom: 20px;
}
.suite_slideshow .suite_list_area p {
  font-size: 14px;
}
.suite_slideshow .suite_list_area ul {
  margin: 0 0 0 18px;
  padding: 0;
}
.suite_slideshow .suite_list_area ul li {
  font-size: 14px;
}
.ie9 .image_border {
  margin-left: 0px;
}
.suite_faq {
  text-align: right;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-family: "museo-slab", serif;
}
.suite_faq .suite_question {
  padding-bottom: 12px;
}
.suite_faq .suite_question p {
  font-family: "museo-slab", serif;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: left;
}
.suite_faq .suite_answer {
  text-align: left;
  padding-bottom: 12px;
}
.suite_faq .suite_answer p {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.donate_text {
  padding: 13px 0 9px 0;
}
.donate_text p {
  padding: 5px 20px 0 -20px;
  color: #a29b3d;
}
.donate_pullquote {
  padding-top: 11px;
  padding-bottom: 9px;
}
.donate_pullquote p {
  color: #a29b3d;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  font-family: "museo-slab", serif;
}
.donate_medals {
  margin-top: 30px;
  text-align: center;
}
.donate_medals h2 {
  margin: 0;
  font-style: normal;
  padding-bottom: 17px;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
}
.donate_medals p {
  font-size: 18px;
  line-height: 28px;
  padding: 0 40px;
  text-align: left;
}
.donate_medals a {
  color: #84636a;
  text-decoration: underline;
  padding-bottom: 3px;
}
.donate_medals a:active,
.donate_medals a:hover {
  color: #9f767e;
}
.donate_medals hr {
  margin: 18px 10px 10px 10px;
}
.donate_medals .donate_today_button {
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 250px;
  padding: 10px 0 10px 0;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
  font-family: "museo-slab", serif;
  text-align: center;
}
.donate_medals .button_link {
  background: none;
  border: 0px;
  color: #84636a;
  text-decoration: underline;
  padding-bottom: 3px;
  font-size: 18px;
  font-weight: lighter;
}
.donate_medals .diamond_level {
  background: url(../img/elements/donate_level_1.png) top center no-repeat transparent;
  padding-top: 300px;
  color: #9f767e;
}
.donate_medals .diamond_level .donate_today_button {
  background-color: #9f767e;
  border: 2px solid #84636a;
}
.donate_medals .diamond_level .donate_today_button:active,
.donate_medals .diamond_level .donate_today_button:hover {
  background-color: #84636a;
  border: 2px solid #9f767e;
  color: #ffffff;
}
.donate_medals .diamond_level hr {
  border-top: 2px solid #84636a;
}
.donate_medals .platinum_level {
  background: url(../img/elements/donate_level_2.png) top center no-repeat transparent;
  padding-top: 300px;
  color: #a29b3d;
}
.donate_medals .platinum_level .donate_today_button {
  background-color: #a29b3d;
  border: 2px solid #837f30;
}
.donate_medals .platinum_level .donate_today_button:active,
.donate_medals .platinum_level .donate_today_button:hover {
  background-color: #837f30;
  border: 2px solid #a29b3d;
  color: #ffffff;
}
.donate_medals .platinum_level hr {
  border-top: 2px solid #837f30;
}
.donate_medals .gold_level {
  background: url(../img/elements/donate_level_3.png) top center no-repeat transparent;
  padding-top: 300px;
  color: #d2ae32;
}
.donate_medals .gold_level .donate_today_button {
  background-color: #d2ae32;
  border: 2px solid #bd9c29;
}
.donate_medals .gold_level .donate_today_button:active,
.donate_medals .gold_level .donate_today_button:hover {
  background-color: #bd9c29;
  border: 2px solid #d2ae32;
  color: #ffffff;
}
.donate_medals .gold_level hr {
  border-top: 2px solid #bd9c29;
}
.registry_links_border {
  background-color: #837f30;
  margin-top: -5px;
  border-radius: 17px 17px 17px 17px;
}
.registry_links_border .registry_links {
  background-color: #ccbd91;
  margin: 2px;
  min-height: 450px;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 17px 17px 17px 17px;
}
.registry_links_border .registry_links h1 {
  margin: 0;
}
.registry_links_border .registry_links ul {
  list-style-type: none;
  padding: 12px 0 0 2px;
  margin: 0;
}
.registry_links_border .registry_links ul li a {
  color: #ffffff;
}
.registry_links_border .registry_links ul li a:active,
.registry_links_border .registry_links ul li a:hover {
  text-decoration: underline;
}
.registry_items {
  text-align: center;
}
.registry_items h1 {
  background-color: #a29b3d;
  margin: 35px 0 0 0;
  padding-top: 10px;
  padding-bottom: 30px;
}
.registry_items ul,
.registry_items p {
  background-color: #a29b3d;
  margin: -30px 0 0 0;
  padding: 10px 0 0 0;
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
}
.registry_items .item_list_one {
  background: url(../img/elements/registry_icons2.png) top center no-repeat transparent;
}
.registry_items .item_list_two {
  background: url(../img/elements/registry_icons2.png) center -35px no-repeat transparent;
}
.registry_items .item_list_three {
  margin-top: 32px;
  background: url(../img/elements/registry_icons2.png) center -74px no-repeat transparent;
}
.registry_items .item_list_four {
  margin-top: 32px;
  background: url(../img/elements/registry_icons2.png) center -108px no-repeat transparent;
}
.story_container .pullquote {
  color: #585743;
  font-size: 18px;
  line-height: 28px;
}
.story_container .pullquote p {
  color: #585743;
  font-size: 18px;
  line-height: 28px;
}
.story_container h3 {
  color: #9f767e;
  text-align: right;
  margin: 0;
}
.story_container .story_author {
  color: #9f767e;
  text-align: right;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
}
.story_slideshowA {
  position: static;
}
.story_slideshowB img {
  margin-top: 20px;
  margin-bottom: 15px;
}
.story_slideshowB p {
  margin-top: 15px;
}
.story_slideshowB p.author {
  margin: 0;
  display: block;
}
.story_slideshowC p,
.story_slideshowC p.pullquote {
  margin-top: 15px;
}
.story_slideshowC h3 {
  margin: 0;
}
.donor_list {
  background-color: #faedea;
  min-height: 200px;
  border: 2px solid #c85f5d;
  text-align: center;
  width: 950px;
  margin-left: 4px;
  margin-bottom: 5px;
  border-radius: 17px 17px 17px 17px;
}
.donor_list ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0 0 20px 0;
}
.donor_list ul li a {
  color: #9f767e;
  text-decoration: underline;
}
.donor_list ul li a:active,
.donor_list ul li a:hover {
  color: #84636a;
}
.donor_list .donate_today_button {
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  padding: 10px 0 10px 0;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
}
.donor_list .diamond_donors {
  color: #84636a;
  padding-top: 200px;
  margin-top: 24px;
  background: url(../img/elements/donor_list_1.png) top center no-repeat transparent;
}
.donor_list .diamond_donors .donate_today_button {
  background-color: #9f767e;
  border: 2px solid #84636a;
}
.donor_list .diamond_donors .donate_today_button:active,
.donor_list .diamond_donors .donate_today_button:hover {
  color: #ffffff;
  background-color: #84636a;
  border: 2px solid #9f767e;
}
.donor_list .platinum_donors {
  color: #84636a;
  padding-top: 200px;
  margin: 24px 0 0 5px;
  background: url(../img/elements/donor_list_2.png) top center no-repeat transparent;
}
.donor_list .platinum_donors .donate_today_button {
  background-color: #a29b3d;
  border: 2px solid #837f30;
}
.donor_list .platinum_donors .donate_today_button:active,
.donor_list .platinum_donors .donate_today_button:hover {
  color: #ffffff;
  background-color: #837f30;
  border: 2px solid #a29b3d;
}
.donor_list .gold_donors {
  color: #84636a;
  padding-top: 200px;
  margin: 24px 0 15px 14px;
  background: url(../img/elements/donor_list_3.png) top center no-repeat transparent;
}
.donor_list .gold_donors .donate_today_button {
  background-color: #d2ae32;
  border: 2px solid #bd9c29;
}
.donor_list .gold_donors .donate_today_button:active,
.donor_list .gold_donors .donate_today_button:hover {
  color: #ffffff;
  background-color: #bd9c29;
  border: 2px solid #d2ae32;
}
.donor_box_border {
  margin-top: 11px;
  background-color: #c85f5d;
  border-radius: 17px 17px 17px 17px;
}
.donor_box_border .donor_box {
  background-color: #faedea;
  margin: 2px;
  min-height: 180px;
  text-align: center;
  border-radius: 17px 17px 17px 17px;
}
.donor_box_border .donor_box h1 {
  color: #e56d6c;
  padding-top: 15px;
  margin: 0;
}
.donor_box_border .donor_box ul {
  list-style-type: none;
  padding: 15px 0 20px 0;
  margin: 0;
}
.donor_box_border .donor_box ul li {
  color: #84636a;
}
.donor_box_border .donor_box ul li a {
  font-size: 18px;
  color: #84636a;
  text-decoration: underline;
  font-weight: normal;
}
.donor_box_border .donor_box ul li a:active,
.donor_box_border .donor_box ul li a:hover {
  color: #9f767e;
}
.donor_box_border .donor_box ul li a img {
  margin-bottom: 5px;
  margin-top: 15px;
}
.contact_header {
  margin-top: 45px;
}
.contact_header h1 {
  color: #a29b3d;
}
.patient_arrow {
  height: 110px;
  width: 110px;
  background: url(../img/elements/arrow_patient.png) center center no-repeat;
  position: absolute;
  margin-left: 431px;
  margin-top: -39px;
}
.donor_arrow {
  height: 110px;
  width: 132px;
  background: url(../img/elements/arrow_donor.png) center center no-repeat;
  position: absolute;
  margin-left: 570px;
  margin-top: -39px;
}
form {
  margin-top: 15px;
}
form input[type="corporation"],
form input[type="text"],
form input[type="email"] {
  height: 45px;
  background-color: #f7f4dd;
  border: 1px solid #ccbd91;
  color: #84636a;
  font-size: 17px;
  line-height: 21px;
  border-radius: 17px 17px 17px 17px;
}
form textarea {
  background-color: #f7f4dd;
  border: 1px solid #ccbd91;
  color: #84636a;
  font-size: 17px;
  line-height: 21px;
  padding-top: 15px;
  border-radius: 17px 17px 17px 17px;
}
form label {
  font-size: 17px;
  line-height: 21px;
  font-weight: bold;
  color: #a29b3d;
}
form .submit {
  color: #ffffff;
  background-color: #a29b3d;
  border: 1px solid #837f30;
  font-size: 17px;
  line-height: 21px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 17px 17px 17px 17px;
}
.sticky_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -243px;
}
.footer,
.push {
  height: 243px;
}
.footer {
  background-color: #f7f4dd;
  margin-top: 50px;
}
.push.general {
  background-color: white;
}
.donation_logo {
  margin: 12px 0 0 0;
}
.donation_logo a {
  background: url(../img/elements/donate_seal.png) center center no-repeat;
  width: 164px;
  height: 161px;
  display: block;
  margin-left: 25px;
}
.footer_nav_area ul {
  list-style-type: none;
  margin: 20px 0 10px 0;
  width: 80px;
  float: left;
  padding: 0;
}
.footer_nav_area .copyright p {
  color: #a29b3d;
}
.footer_map a {
  width: 350px;
  height: 140px;
  display: block;
  margin: 20px 0 0 10px;
  background: url(../img/elements/map_footer.png) center center no-repeat transparent;
  border: 5px solid #ccbd91;
  float: right;
}
.social_media_icons {
  margin-top: 15px;
}
.social_media_icons a {
  margin-left: 15px;
  width: 28px;
  height: 28px;
  display: block;
  padding: 5px 5px 4px 5px;
}
.social_media_icons a.facebook_icon {
  background: url('../img/elements/facebook.png') center center no-repeat transparent;
}
.social_media_icons a.twitter_icon {
  background: url('../img/elements/twitter.png') center center no-repeat transparent;
}
.ie7 .home_box_border a {
  float: none;
}
.ie7 hr.hr_key {
  display: none;
}
.ie7_hr_key {
  display: none;
}
.ie7 .ie7_hr_key {
  display: block;
  background: url(../img/elements/key.png) center -27px no-repeat;
  height: 26px;
  margin-top: -28px;
}
.ie7 .ie7_hr_key.ie7_contribute {
  background: url(../img/elements/key_pink.png) center center no-repeat;
}
.ie7_footer_key {
  display: none;
}
.ie7 .ie7_footer_key {
  display: block;
  background: url(../img/elements/key.png) center 0px no-repeat;
  height: 25px;
  margin-top: -28px;
}
.ie7 .content_header h1 {
  line-height: 14px;
}
.ie7_contact_footer .ie7 .footer {
  margin-top: 0;
}
.colorbox_map_details_container {
  display: none;
}
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}
#cboxOverlay {
  background: #444;
}
#cboxContent {
  margin-top: 35px;
  overflow: visible;
}
.cboxIframe {
  background: #fff;
}
#cboxLoadedContent {
  background: #fff;
  border: 0;
}
#cboxLoadingGraphic {
  background: url(../img/elements/colorbox_loading.gif) no-repeat center center;
}
#cboxLoadingOverlay {
  background: #fff;
}
#cboxClose {
  text-indent: -9999px;
  width: 11px;
  height: 11px;
  position: absolute;
  top: -20px;
  background: url(../img/elements/colorbox_controls.png) no-repeat 0 0;
}
#cboxClose {
  background-position: 0px 0px;
  right: 0;
}
#cboxClose:hover {
  background-position: 0px -12px;
}
.cboxSlideshow_on .cboxSlideshow_off {
  right: 66px;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media only screen and (min-width: 35em) {
  
}
.full {
  width: 100%;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.show {
  display: block;
}
.affix {
  position: fixed;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
