/* This should overwrite styles in less.css. Do not delete less.css. Lessphp won't compile the old grid system anymore, and that less.css file contains the compiled grid. */

.hidden{
	display: none;
}

a:hover, a:active, a:focus {
  outline: 0 !important;
 }
 

.fc_cart_item_userid{
  display: none;
}

header ul{
  li{
	  padding: 0 10px 0 10px;
    &.first{
      padding-left: 0;
      background-position: 3px 45px !important;
      &:hover,&.active{
        background-position: 3px 0px !important;
      }
    }
    &#icon_5.active,
    &#icon_5:hover{
      background-position: center -179px !important;
    }
    &#icon_6.active,
    &#icon_6:hover{
      background-position: center -215px !important;
    }
    &#icon_12.active,
    &#icon_12:hover{
      background-position: center -144px !important;
    }
    &#icon_79.active,
    &#icon_79:hover{
      background-position: center bottom !important;
    }
  }
}
.page-41 header ul li#icon_79,
.page-42 header ul li#icon_79,
.page-80 header ul li#icon_79{
	background-position: center bottom !important;
	a{
		color: @suitePurple;
	}
}

.bio_box_border .bio_box{
  p{
    margin: 0 15px 10px 0;
  }
  .bio_box_content_top .bio_title .name{
    margin: 0 0 4px 0;
  }
}

.main_content_top_bg .main_content_top ul.sub_nav li{
  margin-right: 10px;
}
.donor_icon_2{
  margin-left: -20px !important;
  margin-right: 40px !important;
}
.about_icon_1{
  margin-left: 30px;
}
.events_icon_1,
.events_icon_2{
  background: url('/assets/img/elements/events_icons.png') top center no-repeat transparent !important;
}
.events_icon_1{
  background-position: center -36px !important;
  &:hover,
  &.active{
    background-position: center -108px !important;
    a{
      color: @suitePurple;
    }
  }
}
.events_icon_2{
  background-position: center 0px !important;
  &:hover,
  &.active{
    background-position: center -72px !important;
    a{
      color: @suitePurple;
    }
  }
}

.register_icon_1{
	background: url('/assets/img/elements/pp-subnav_icons.png') top center no-repeat transparent !important;
	cursor: pointer;
	a{
		padding-top: 35px !important;
	}
	&.active,
	&:hover{
		background: url('/assets/img/elements/pp-subnav_icons_active.png') top center no-repeat transparent !important;
		a{
			color: @suitePurple;
		}
	}
}

.register_icon_2{
	background: url('/assets/img/elements/pp-subnav_icons.png') bottom center no-repeat transparent !important;
	margin-left: 75px;
	cursor: pointer;
	a{
		padding-top: 35px !important;
	}
	&.active,
	&:hover{
		background: url('/assets/img/elements/pp-subnav_icons_active.png') bottom center no-repeat transparent !important;
		a{
			color: @suitePurple;
		}
	}
}

.type-9,
.type-11{
  .no_events{
    display:none;
    float:left;
    margin-left: 8px;
  }
  .past_container{
    border-left: 2px solid @suiteLightTan;
  }
  .past_archives ul{
    margin:0;
    padding: 0;
    li{
      list-style-type:none !important;
      padding-left:31px;
      &.active{
        background: url('/assets/img/elements/key.png') -8px -28px no-repeat transparent;
      }
      a{
        color: @suitePink;
        font-style: italic;
        font-weight: normal;
        font-family: "museo-slab", serif;
        font-size: 14px;
        cursor:pointer;
        &:hover,
        &:active{
          text-decoration:none;
        }
      }
    }
  }
  .content_header.about{
    position:relative;
    margin-bottom: 16px;
  }
  .event_title{
    font-family: "museo-slab", serif;
    font-style: italic;
    font-size: 23px;
    color: @suitePurple;
    margin-top:40px;
    display:block;
    margin-bottom: 12px;
    &.current_year{
      margin-bottom: 0;
    }
    &.view_year{
      margin-left: 90px;
    }
  }
  .read_more_button{
    a{
      background-color: @suiteGreen;
      border:1px solid @suiteDarkGreen;
      color: white;
      font-size: 12px;
      font-family: "museo-slab", serif;
      border-radius: 8px 8px 8px 8px;
      font-style: italic;
      font-weight: normal;
      padding: 2px 20px;
      float:right;
      &:hover,
      &:active{
        text-decoration: none;
      }
    }
  }
  .event_list_item{
    border-bottom: 2px solid @suiteDarkTan;
    padding-bottom: 35px;
    margin-bottom: 20px;
    &.last{
      border: 0;
    }
    h2{
      font-family: "museo-slab", serif;
      font-weight: normal;
      font-style: italic;
      font-size: 17px;
      color: @suitePurple;
      margin-bottom: 5px;
    }
    .left{
      p{
        line-height: 30px;
        strong{
          color: @suitePink;
        }
      }
    }
    .middle{
      margin-top: 50px;
    }
    .read_more_button{
      margin-top: 140px;
    }
  }
  .past_item{
    margin-left: 90px;
    .read_more_button{
      margin-top: 10px;
      float:left;
    }
    .middle{
      margin-top: 0;
    }
  }
  .paging{
    display:block;
    float:right;
    clear:both;
    ul{
      margin-right:10px;
      li{
        list-style-type:none;
        float:left;
        margin-left: 8px;
        a{
          display:block;
          border:1px solid @suiteLightTan;
          font-size: 12px;
          color: @suitePink;
          padding: 1px 10px;
          font-weight:normal;
          &.active{
            color: gray;
          }
        }
      }
    }
  }
}
.type-10{
  h2{
    font-family: "museo-slab", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    color: @suitePurple;
    margin-bottom: 5px;
  }
  .event_slider_arrow{
    background: url('/assets/img/elements/arrow_left.png') center center no-repeat transparent;
    margin-left: 23px;
    margin-top: 160px;
    height: 33px;
    width: 30px;
    display: block;
    cursor: pointer;
    &.right{
      margin-left: 6px;
      background: url('/assets/img/elements/arrow_right.png') center center no-repeat transparent;
    }
  }
  .event_info{
    p{
      line-height: 30px;
      strong{
        color: @suitePink;
      }
    }
  }
  .content_header.about{
    position:relative;
    margin-bottom: 16px;
  }
  .event_slider{
    margin-bottom: 20px;
  }
  .event_desc{
    padding-top: 45px;
  }
  .back_events{
    a{
      background: url('/assets/img/elements/arrow_left.png') center left no-repeat transparent;
      width: 100%;
      padding: 6px 0 6px 40px;
      font-size: 14px;
      font-weight: bold;
      color: @suiteGreen;
      cursor:pointer;
      &:hover,
      &:active{
        text-decoration:none;
        color: @suiteDarkGreen;
      }
    }
  }
}

.type-9,.type-10,.type-11{
  ul.sub_nav{
    padding-left: 92px;
    li.events_icon_1{
      margin-right: 40px !important;
    }
  }
}



#donation_cart{
  form{
    float:left;
  }
  .grid_12{
    border-bottom: 2px solid @suiteDarkTan;
    padding-bottom: 10px;
    &.last_1{
      border-bottom: 0;
    }
  }
  h2{
    font-family: "museo-slab", serif;
    font-style: italic;
    font-size: 22px;
    color: @suitePurple;
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .cost{
    color: @suitePurple;
    display:block;
    float:left;
    font-family: "museo-slab", serif;
    font-style: italic;
    font-weight: normal;
    margin: 0 auto;
    background: url('/assets/img/elements/donate_price_icon.png') center top no-repeat transparent;
    padding-top: 60px;
    width: 75px;
    text-align:center;
    margin-bottom: -60px;
    margin-left: -10px;
    border-right: 1px solid @suiteGold;
    padding-bottom: 16px;
  }
  p{
    float:right;
    margin-left: 93px;
    padding-left: 20px;
    margin-top: -25px;
    border-left: 1px solid @suiteGold;
  }
  label{
    height: 30px;
    padding-top: 7px;
    padding-right: 10px;
    margin-left: -70px;
    border-right: 1px solid @suiteGold;
    float:left;
    color: @suitePurple;
    font-weight: normal;
    font-style: italic;
    font-family: "museo-slab", serif;
    margin-bottom: -20px;
  }
  input[type="text"]{
    width: 70px;
    height: 25px;
    border-radius: 0;
    margin-right: 15px;
    padding-left: 10px;
  }
  input,
  a.foxycart{
    float:right;
    width: 220px;
  }
  input[type="submit"],
  a.foxycart{
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
    font-size: 16px;
    font-family: "museo-slab", serif;
    font-style: italic;
    text-decoration: none;
    border-radius: 17px 17px 17px 17px;
    background-color: @suiteGreen;
    border: 2px solid @suiteDarkGreen;
    text-align:center;
    &:hover{
      background-color: @suiteDarkGreen;
      border: 2px solid @suiteGreen;
    }
  }
  input[name="checkout"],
  a.foxycart{
    background-color: @suiteGold;
    border: 2px solid @suiteDarkGold;
    margin-top: 40px;
    margin-bottom: 50px;
    &:hover{
      background-color: @suiteDarkGold;
      border: 2px solid @suiteGold;
    }
  }
  a.foxycart{
    padding: 6px 0;
    &.first_1{
      margin: 0 0 30px 0;
    }
  }
}

.page-40 #donation_cart{
  form{
    float: none;
  }
  .cost{
    border-right: 0;
    padding-bottom: 0;
    padding-top: 60px;
    width: 90px;
    margin-bottom: -60px;
  }
  .grid_4{
    padding-top: 55px;
  }
}

.introtext_donate_quote{
  margin-top: 50px !important;
}
.donate_form{
  input[type="text"]{
    width: 100px;
    height:30px;
    border-radius: 10px;
    margin-left: 9px;
    margin-bottom: -30px;
  }
  span{
    position:absolute;
    margin: 7px 0 0 -6px;
  }
  .introtext_donate_button{
    margin-top: -5px !important;
    margin-bottom: 7px !important;
  }
}

#pink-pigeons,
#pink-pigeons-review{
	p{
		text-align: center;
	}
	h2,
	h3{
    font-family: "museo-slab", serif;
    font-style: italic;
    font-size: 22px;
    color: @suitePurple;
    margin-bottom: 30px;
    margin-top: 35px;
    text-align: left;
    margin-left: -3px;
  }
  h3{
	  font-size:20px;
	  margin-left:38px;
	  float:left;
	  clear:both;
	  display:block;
	  width: 100%;
	  a{
		  color: @suitePurple;
		  &:hover,
		  &:active,
		  &:focus{
			  color: @suitePurple;
			  text-decoration: none;
		  }
	  }
  }
  
  input[type="text"]{
	  border: 0;
	  border-bottom: 1px solid @suitePurple;
	  border-radius: 0;
	  background-color: white;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  padding-left: 0;
	  padding-bottom:0;
	  height: 30px;
  }
  form{
	  margin-left: -40px;
	  margin-bottom: -50px;
	  float:left;
	  clear:both;
  }
  input.input-xlarge{
	  width: 300px;
  }
  label,
  .radio_row{
	  color: @suitePurple !important;
	  font-weight: normal;
	  font-style: italic;
	  font-family: "museo-slab", serif;
	  margin-top:5px;
	  font-size: 17px !important;
	  &.long{
		  width: 241px;
	  }
	  .soldout{
		  color: #b2a5a7;
	  }
  }
	button,
	input[type="submit"]{
    color: white;
    display: inline-block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: -30px;
    margin-right: 0;
    padding: 10px 0 10px 0;
    font-size: 16px;
    width: 120px;
    font-family: "museo-slab", serif;
    font-style: italic;
    text-decoration: none;
    border-radius: 17px 17px 17px 17px;
    background-color: @suiteGreen;
    border: 2px solid @suiteDarkGreen;
    text-align:center;
    text-transform:uppercase;
    
    float:right;
    &:hover{
      background-color: @suiteDarkGreen;
      border: 2px solid @suiteGreen;
    }
    &.yellow{
	    background-color: @suiteGold;
			border: 2px solid @suiteDarkGold;
			margin-left: 140px;
			&:hover{
	      background-color: @suiteDarkGold;
	      border: 2px solid @suiteGold;
	    }
    }
    &.purple{
	    background-color: @suitePurple;
			border: 2px solid @suiteDarkPurple;
			&:hover{
	      background-color: @@suiteDarkPurple;
	      border: 2px solid @suitePurple;
	    }
    }
  }//button
  .control-label[for="cart2q"],
  .control-label[for="cart4q"],
  #cart2q,
  #cart4q,
  .control-label[for="tcart2q"],
  .control-label[for="tcart4q"],
  #tcart2q,
  #tcart4q{
    opacity: 0;
  } 
  .form_section{
	 // display: none;
  }
  .radio_row{
	  font-size: 15px;
	  float:left; 
	  margin-top:5px;
	  color: @suiteDarkGray;
	  width: 100%;
	  input{
		  margin-right: 10px;
		  margin-top:-5px;
		  opacity: 0;
	  }
	  margin-right: 0;
  }
  .control-group.grid_4.push_1{
	  margin-left:-27px;
	  margin-right: 23px;
  }
  .control-group.grid_6.omega{
	  margin-left:-13px;
  }
  .carts{
	  margin-top:40px;
  }
  .finetext{
	  margin-top:34px;
	  margin-left:-95px;
	  color: @suitePurple;
	  font-style:italic;
	  -webkit-font-smoothing: antialiased;
	  float:left;
  }
  hr{
	  margin-left: 30px;
	  margin-top:10px;
	  margin-bottom: 15px;
  }
  	span.error{
		margin-top: -20px;
		margin-left: 158px;
		color: crimson;
		position:absolute; 
		width: 100%;
	}
	.note{
		position:absolute;
		font-size: 10px;
		right: 0;
		margin-top: -25px;
		text-align: left;
		max-width: 120px;
		line-height: 14px;
	}
	.controls{
		position: relative;
	}
}//pink-pigeons

.register{
	h1{
		color: @suiteGold;
	}
	&.content_banner{
		background: url('/assets/img/elements/pink-pigeons-banner-6.jpg') center top no-repeat white;
		.pullquote{
			color: @suitePurple;
		}
	}
}

.pink_pigeons_logo{
	text-align: center;
	display: block;
	margin-top: 5px;
}

#pink-pigeons-review{
	color: @suitePurple;
	.form_section{
		display:block;
		margin-left: 30px;
	}
	label{
		width: 220px;
		display:inline-block;
	}
	.controls{
		margin-left: 0;
	}
	input[type="submit"]{
		display: inline;
		float: none;
		background-color: transparent;
		color: @suitePurple;
		border: 0;
		border-radius: none;
		text-transform: none;
		font-size: 14px;
		margin: 0;
		padding: 0;
		width: auto;
		font-weight: normal;
		&:hover{
			background-color: transparent;
			border: 0;
			color: @suitDarkPurple;
		}
	}
	.cancel{
		margin-top: 45px;
		position: absolute;
		display: inline-block;
		color: @suitePurple;
		&:hover,
		&:active,
		&:focus{
			color: @suiteDarkPurple;
			text-decoration: none;
		}
	}
}

.checkbox-custom{
	width: 15px;
	height:15px;
	border: 1px solid @suiteGold;
	background-color: @suiteLightTan;
	position:absolute;
	margin-top: -22px;
	margin-left: -1px;
	cursor: pointer;
	&:hover{
		background-color: @suiteGold;
	}
	&.selected{
		background-color:@suiteDarkGold;
	}
	input[type="checkbox"]{
		opacity: 0;
	}
}
.general{
	h2{
		color: @suitePurple;
		font-family: "museo-slab", serif; 
	}
	h3{
		color: @suitePurple;
		font-weight: normal;
	}
	.general_button{
		color: white;
    display: inline-block;
    margin: 0 auto;
    margin-top: 15px;
    margin-right: 0;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    font-family: "museo-slab", serif;
    font-style: italic;
    text-decoration: none;
    border-radius: 17px 17px 17px 17px;
    background-color: @suiteGreen;
    border: 2px solid @suiteDarkGreen;
    text-align:center;
    text-transform:uppercase;
    &:hover,
    &:active{
	    background-color: @suiteDarkGreen;
    }
	}
}

body.page-92 .content_header,
body.page-92 hr.general{
	display:none;
}

#campaign-left{
	width: 48%;
	float:left;
	padding-right: 2%;
	margin-top: 30px;
	.image-container{
		width: 100%;
		border: 1px solid @suiteGold;
		padding: 5px;
		border-bottom:0;
		padding-bottom:0;
		img{
			width: 100%;
			height: auto;
		}
	}
	.goal-container{
		background-color: white;
		width: 100%;
		padding: 5px;
		position: relative;
		border: 1px solid @suiteGold;
		border-top:0;
		.progress-bar{
			display:block;
			height: 30px;
			width: 60%;
			background-color: @suiteDarkPurple;
		}
		.goal{
			display:block;
			position:absolute;
			right:0;
			bottom: -40px;
			font-weight: bold;
			color: @suiteDarkPurple;
		}
	}
	h3{
		margin-top: 0;
		margin-bottom:-20px;
	}
	.donate-container{
		position: relative;
		margin-top: 45px;
		//margin-top: 9px;
		input[type="text"]{
			height: 34px;
			padding-left: 24px;
		}
		span{
			position: absolute;
			bottom: 16px;
			left: 10px;
		}
	}
}
#campaign-right{
	padding-left: 2%;
	width: 48%;
	float:left;
	margin-top: 30px;
	h2{
		margin-top: 0;
	}
	.share-buttons{
		width: 100%;
		text-align:center;
		margin-top: 20px;
		.facebook{
			background: url('/assets/img/elements/campaign-icon-facebook.svg') center center no-repeat white;
			width: 24px;
			height: 24px;
			display:inline-block;
		}
		.twitter{
			background: url('/assets/img/elements/campaign-icon-twitter.svg') center center no-repeat white;
			width: 24px;
			height: 24px;
			display:inline-block;
		}
		.email{
			background: url('/assets/img/elements/campaign-icon-email.svg') center center no-repeat white;
			width: 24px;
			height: 24px;
			display:inline-block;
		}
		a{
			&:hover,
			&:active{
				text-decoration: none;
				color: white;
			}
		}
	}
}

#campaign-gallery{
	article{
		width: 23%;
		display:inline-block;
		margin-right: 1%;
		h2{
			margin-bottom: 10px;
		}
		.image-container{
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
		a{
			&:hover,
			&:active{
				text-decoration: none;
				h2{
					text-decoration: none;
					color: @suiteDarkGreen;
				}
			}
		}
	}
}


header{
	position:relative;
	//padding-top: 20px;
	.utility{
		display:none;
		position:absolute;
		width: 100%;
		text-align:right;
		//right: 80px;
		top:0;
		background-color: @suiteLightTan;
		//border: 1px solid @suitePink;
		//border-top:0;
		//padding: 0 5px 5px 5px;
		a{
			//background-color: @suitePink;
			color: @suiteDarkGreen;
			display: inline-block;
			font-size: 14px;
			&:after{
				border-right: 1px solid @suiteDarkGreen;
				content: ''; 
				margin-left: 6px;
			}
			&:last-child:after{
				border-right: 0;
			}
			&:hover,
			&:active{
				text-decoration:none;
				color: @suiteDarkPurple;
				//background-color: @suitePurple;
			}
		}
	}
}

.register{
	form{
		.control-row{
			width: 100%;
			float:left;
			.control-group{
				float:left;
				margin-right: 10px;
				&.radios{
					color: @suiteDarkPurple;
					margin-bottom: 20px;
					span{
						display:block;
						float:left;
						font-family: "museo-slab", serif;
					}
					input[type="radio"]{
						float:left;
						display:block;
						margin-top: 7px;
						margin-right: 10px;
					}
				}
			}
		}
		input[type="password"]{
			height: 45px;
	    background-color: #f7f4dd;
	    border: 1px solid #ccbd91;
	    color: #84636a;
	    font-size: 17px;
	    line-height: 21px;
	    border-radius: 17px 17px 17px 17px;
		}
	}
	input[type="file"]{
		display:block;
		line-height: 10px;
		background-color: @suiteLightTan;
		padding: 5px;
		color: @suiteDarkGreen;
		height: auto;
		border: 1px solid @suiteGold;
		margin-top: 10px;
	}
	.image-preview-container{
		width: 451px;
		height: auto;
		overflow:hidden;
		display:block;
		border: 1px solid @suiteGold;
		padding: 5px;
		background-color: @suiteLightTan;
		margin-bottom: 30px;
		img{
			width: 100%;
			height: auto;
			opacity:0;
			&.active{
				opacity: 1;
			}
		}
	}
	span.error{
		color: red;
		font-weight: normal;
	}
}
body.page-87{
	height: auto !important;
}
#submissions_wrapper{
	margin: 80px 15px 0 15px;
}
#submissions{
	background-color:white;
	border-right: 15px solid @suiteLightTan;
	th{
		font-size:12px;
		padding: 10px 5px;	
		line-height: 15px;
		max-width: 60px;
		min-width: 50px;
		//white-space:nowrap;
	}
	td{
		font-size: 12px;
		line-height: 15px;
	}
}

body.page-87 .container_12,
body.page-87 .container_12 .grid_12{
	min-width: 1169px;
	width: auto;
}

a.donate_tab,
a#scroll_to_top{
	z-index: 200;
}

#edit-submission{
	background-color: white;
	padding: 50px 30px 30px 30px;
	float:left;
	.control-group{
		display: inline-block;
		float:left;
	}
	input[type="text"]{
		height: auto;
		width: auto;
		border-radius: 0;
		margin-right: 10px;
	}
	h3{
		float:left;
		clear:both;
		display:block;
		width: 100%;
	}
}

.edit-utility{
	float:left;
	display:block;
	position:relative;
	width: 100%;
	a{
		display: inline-block;
		padding: 5px 10px;
		background-color: @suitePurple;
		color: white;
		font-size: 15px;
		margin-bottom: 30px;
	}
	input[type="submit"]{
		display: inline-block;
		padding: 5px 10px;
		background-color: @suitePurple;
		color: white;
		border:0;
		font-size: 15px;
	}
	.delete-button{
		position: absolute;
		right:0;
		top:0;
	}
	span{
		display: none;
		position:absolute;
		top: 40px;
		right:0;
		a{
			background-color: white;
			color: @suitePurple;
		}
	}
}

.loginForm{
	input[type="text"],
	input[type="password"]{
		height: 45px;
    background-color: #f7f4dd;
    border: 1px solid #ccbd91;
    color: #84636a;
    font-size: 17px;
    line-height: 21px;
    border-radius: 17px 17px 17px 17px;
	}
	input[type="submit"]{
		color: white;
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "museo-slab", serif;
    font-style: italic;
    text-decoration: none;
    border-radius: 17px 17px 17px 17px;
    background-color: #a29b3d;
    border: 2px solid #837f30;
    text-align: center;
	}
}

.donor_box{
	height: 350px !important;
	&.donator_list{
		height: auto !important;
		padding-bottom: 20px;
		ul{
			&:first-of-type{
				padding-bottom:0;
			}
			&:last-child{
				padding-top: 0;
			}
			li{
				width: 33% !important;
				display: block;
				float:left;
				&.hide{
					display:none;
				}
				span{
					display:block;
					font-size: 14px;
					line-height: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.donor_list{
	ul{
		padding-bottom: 0;
		&:last-child{
			margin-top:0;
			padding-bottom: 20px;
		}
		li{
			&.hide{
				display:none;
			}
			span{
				display:block;
				font-size: 14px;
				line-height: 10px;
				margin-bottom: 10px;
			}
		}
	}
}