/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

html,
button,
input,
select,
textarea {
    color: @grayDarker;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: @selectionColor;
    text-shadow: none;
}

::selection {
    background: @selectionColor;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @grayLighter;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

//   Chrome Frame prompt
.chromeframe {
    margin: 0.2em 0;
    background: @grayLighter;
    color: @black;
    padding: 0.2em 0;
}