/* ==|== primary styles =====================================================
   Author: Roger Sullivan & Shonna Godoy
   ========================================================================== */
// Sitewide----------------------------------------------------------------

* {
  margin: 0;
}

html, body{
  height: 100%;
  font-family: Helvetica, sans-serif; 
}

body{
  background-color: @suiteLightTan;
  font-size: 18px;
  line-height: 28px;
  &.page-1{
    background-color: none;
  }
}

p{
  font-size: 14px;
  line-height: 20px;
  a{
    color: @suitePurple;
    &:active,
    &:hover{
      color: @suitePurple;
      text-decoration: underline;
    }
  }
}

h1{
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
}

h3{
    font-size: 17px; 
    line-height: 21px;
    font-weight: bold;
  }

ul{
  li{
    a{
      font-size: 17px;
      font-weight: bold;
      color: @suiteGreen;
      &:active,
      &:hover{
        color: @suitePurple;
        text-decoration: none;
      }
    }
  }
}

hr{
  margin: 20px 0 0 0;
  height: 2px;
  border-top: 2px solid @suiteDarkTan;
  &.general{
      margin-top: 30px;
    }
}

.hr_key{
    margin-top: -15px;
    background: url(../img/elements/key.png) center -27px no-repeat;
    height: 27px;
    &.footer_key{
      background: url(../img/elements/key.png) center 0px no-repeat;
    }
    &.contribute_key{
      background: url(../img/elements/key_pink.png) center center no-repeat;
    }
}

//Header --------------------------------------

header{
    background: url(../img/elements/bg_nav.png) center center no-repeat;
    height: 176px;
    margin: 0 0 50px 0;
    a.main_logo{
    float: left;
    width: 230px;
    height: 96px;
    background: url(../img/elements/soh_logo.png) center center no-repeat;
    margin: 30px 0 0 0;
  }
  ul{
    list-style-type: none;
    margin: 45px 0 0 0;
    li{
      text-align: center;
      float: left;
      padding: 0 17px 0 17px;
      height: 36px;
      background: url(../img/elements/nav_icons.png) center 45px no-repeat transparent;
      &.icon_1.active,
      &.icon_1:hover{
        background-position: center 0px;
      }
      &.icon_2.active,
      &.icon_2:hover{
        background-position: center -35px;
      }
      &.icon_3.active,
      &.icon_3:hover{
        background-position: center -72px;
      }
      &.icon_4.active,
      &.icon_4:hover{
        background-position: center -108px;
      }
      &.icon_5.active,
      &.icon_5:hover{
        background-position: center -144px;
      }
      &.icon_6.active,
      &.icon_6:hover{
        background-position: center -179px;
      }
      &.active{
        a{
          color: @suitePurple;
        }
      }
      a{
        display: block;
        padding: 42px 0 0 0;
      }
    }
  }
}

a.donate_tab{
  width: 87px;
  height: 71px;
  position: fixed;
  top: 230px;
  right: 0;
  background: url(../img/elements/donate_side.png) center center no-repeat;
}

a.scrollup_tab{
  width: 30px;
  height: 30px;
  position: fixed;
  top: 330px;
  right: 36px;
  background: url(../img/elements/arrow_up.png) center center no-repeat;
}

//Home Page --------------------------------------

.home_content_border{
  background-color: @suitePink;
  .home_content{
    background-color: @suitePink;
    border: 4px solid @white;
    margin: 1px;
    padding: 57px 55px;
    h1{
      margin: 0;     
      color: white;
    }
  }
}

.home_box_border{
  margin-top: 20px;
  &.box_1{
    background-color: @suitePurple;
  }
  &.box_2{
    background-color: @suiteGreen;
  }
  &.box_3{
    background-color: @suiteGold;
  }
  a{
    &:active,
    &:hover{
      text-decoration: none;
    }
  }
  .home_box{
   min-height: 160px;
    margin: 1px;
    border: 4px solid @white;
     h1{
      margin: 17px 0 0 0;
      padding: 0 0 0 60px;
      color: white;
    }
    p{
      padding: 0 14px 0 14px;
      color: white;
    }
    &.box_1{
      background-color: @suitePurple;
      h1{
        background: url(../img/elements/hm_icons.png) 5px 0px no-repeat;
      }
    }
    &.box_2{
      background-color: @suiteGreen;
      h1{
        background: url(../img/elements/hm_icons.png) 5px -35px no-repeat;
      }
    }
    &.box_3{
      background-color: @suiteGold;
      h1{
        padding: 0 0 0 80px;
        background: url(../img/elements/hm_icons.png) 15px -70px no-repeat;
      }
    }
  }
}

//Content Pages; About, ---------------------------------------------------

.content_banner_border{
  margin-top: -20px;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  &.about{
    background-color: @suiteGreen;
  }
  &.suites{
    background-color: @suiteDarkTan;
  }
  &.donate{
    background-color: @suitePurple;
  }
  &.contribute{
    background-color: @suiteDarkTan;
  }
  &.contact{
    background-color: @suiteDarkTan;
  }
  .content_banner{
    border: 4px solid @white;
    margin: 1px;
    min-height: 216px;
    color: white;
    &.about{
      background: url(../img/elements/bg_about.png) center center no-repeat;
      color: @white;
      p{
        color: @white;
      }
    }
    &.suites{
      background-color: @suiteDarkTan;
      p, h1{
        color: @suitePurple;
      }
    }
    &.donate{
      color: @white;
      background-color: @suiteDarkPurple;
      p{
        color: @white;
      }
    }
    &.contribute{
      background: url(../img/elements/bg_contributors.png) center center no-repeat;
      p, h1{
        color: @white;
      }
    }
    &.contact{
      background: url(../img/elements/bg_contact.png) center center no-repeat;
      p, h1{
        color: @suiteGreen;
      }
    }
    p{
      font-size: 18px;
      line-height: 28px;
      padding: 50px 0 0 20px;
    }
    h1{
      width: 400px;
      padding: 35px 0 0 10px;
    }
  }
}

.main_content_top_bg{
  background-color: white;
  margin-top: 30px;
  min-height: 200px;
  padding-bottom: 25px;
  .main_content_top{
    ul.sub_nav{
       list-style-type: none;
       padding-bottom: 30px;
      li{
          text-align: center;
          float: left;
          margin-right: 70px;
          height: 36px;
          background: url(../img/elements/subnav_icons.png) top center no-repeat transparent;
          &.about_icon_1{
            background-position: top center;         
          }
          &.about_icon_2{
           background-position: center -36px;
          }
          &.suite_icon_1{
            background-position: center -72px;
            margin-right: 80px;
          }
          &.suite_icon_2{
            background-position: center -109px;
          }
          &.donor_icon_1{
            background-position: center -144px;
            margin-right: 37px;
          }
          &.donor_icon_2{
            background-position: center -180px;
          }
          &.contribute_icon_1{
            background-position: center -216px;
            margin-left: 35px;
          }
          &.contribute_icon_2{
            background-position: center -252px;
          }
          &.contact_icon_1{
            background-position: center -144px;
            margin-right: 90px;
            margin-left: 10px;
          }
          &.contact_icon_2{
            background-position: center -249px;
          }
        a{
          display: block;
          padding-top: 45px;
        }
      }
    }
  }
  .content_header{
    text-align: center;
    h1{
      position: relative;
      top: -23px;
      padding: 0 15px;
      display: inline;
      background-color: @white;
    }
    &.about{
      h1{
         color: @suiteGold;
      }
    }
    &.suites{
      h1{
        color: @suitePurple;
      }
    }
    &.donate{
      h1{
        color: @suiteGreen;
      }
    }
    &.contribute{
      h1{
        color: @suiteGold;
      }
    }
    &.contact{
      h1{
        color: @suitePurple;
      }
    }
    &.general{
      h1{
        color: @suiteGreen;
      }
    }
  }
}

.main_content_bottom{
  min-height: 200px;
  margin-bottom: -50px;
  padding-top: 10px;
  padding-bottom: 35px;
  h1,p{
    color: @white;
  }
  &.about{
    background-color: @suiteGold;
  }
  &.suites{
    background-color: @suitePurple;
  }
  &.donate{
    background-color: @suiteGreen;
    margin-top: -20px;
    padding-bottom: 30px;
  }
  &.contribute{
    background-color: @suitePink;
  }
  hr{
    border-top: 2px solid @white;
    &.contribute_hr1{
      border-top: 2px solid @suitePink;
    }
    &.contribute_hr2{
      border-top: 2px solid @suitePink;
    }
  }
  .content_header{
    text-align: center;
    h1{
      position: relative;
      top: -23px;
      padding: 0 15px;
      display: inline;
    }
    &.about{
      h1{
         background-color: @suiteGold;
      }
    }
    &.suites{
      h1{
        background-color: @suitePurple;
      }
    }
    &.donate{
      h1{
        background-color: @suiteGreen;
      }
    }
    &.contribute{
      h1{
        background-color: @suitePink;
      }
    }
  }
}



//About Page ----------------------------------------------------------
.about_image_border{
background-color: @suiteDarkTan;
img{
  vertical-align: center;
  border: 4px solid white;
  margin: 1px;
  width: 290px;
 }
} 
p{
  margin: 0 0 10px 0;
  color: @suiteDarkGray;
}

.bio_box_border{
  min-height: 230px;
  background-color: @suiteDarkGold;
  border-radius: 17px 17px 17px 17px;
  .bio_box{
    background-color: @suiteLightTan;
    min-height: 230px;
    margin: 2px;
    padding: 20px 10px 0 0;
    border-radius: 17px 17px 17px 17px;
    img{
      border: 1px solid @suiteDarkGold;
      margin: 0 15px 0 15px;
      float: left;
    }
    p{
      color: @suiteGold;
      padding: 0 0 5px 20px;
      margin: 0;
    }
  }
}

//Suite Page -----------------------------------------------------

.slideshow_nav{
  background-color: @suiteLightTan;
  ul{
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    li{
      float: left;
      padding: 5px 11px;
      a{
        padding: 5px 11px;
        &.active{
          color: @suitePurple;
        }
      }
    }
  }
}

a.slideshow_arrow{
    background: url(../img/elements/arrow_left.png) center center no-repeat transparent;
    margin-left: 23px;
    margin-top: 3px;
    height: 33px;
    width: 30px;
    display: block;
    cursor: pointer;
    &.right{
      margin-left: 6px;
      background: url(../img/elements/arrow_right.png) center center no-repeat transparent;
    }
    &.storyB_arrow{
    margin-top: 75px;
    }
    &.storyC_arrow{
    margin-top: 30px;
    }
  }
  
.suite_slideshow{
  margin-top: 25px;
  color: @suiteDarkGray;
  .image_border{
    background-color: @suiteDarkTan;
    height: 144px;
    margin-bottom: 8px;
    img{
      vertical-align: center;
      border: 4px solid white;
      margin: 1px;
      width: 210px;
      height: 134px;
    }
  }
  .suite_info_area{
  min-height: 100px;
  overflow: hidden;
  padding-bottom: 10px;
  }
  h3{
    color: @suitePurple;
    padding: 0 0 1px 0;
    margin: 0;
  }
  p{
    margin: 0;
    padding: 5px 10px 5px 0;
  }
  .suite_list_area{
    min-height: 230px;
    padding-bottom: 20px;
    ul{
    margin: 0 0 0 38px;
    padding: 0;
    }
  }
}

.suite_faq{
  text-align: right;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  color: white;
  .suite_question{
    padding-bottom: 12px;
    p{
       font-size: 29px;
       line-height: 36px;
       font-weight: bold;
       font-style: italic;
       color: white;
       text-align: left;
    }
  }
  .suite_answer{
    text-align: left;
    padding-bottom: 12px;
    p{
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 28px;
      font-style: normal;
      font-weight: normal;
    }
  }
}



/*
 * img{
    display: none;
    &.first{ 
      display: block;
    }
  }
 */

//Donation Page ---------------------------------------------------

.donate_text{
  padding-top: 13px;
  padding-bottom: 9px;
  color: @suiteGreen;
}

.donate_pullquote{
  padding-top: 13px;
  padding-bottom: 9px;
  color: @suiteGreen;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
}



.donate_medals{
  margin-top: 30px;
  text-align: center;
  h2{
    margin: 0;
    font-style: normal;
    padding-bottom: 17px;
    font-size: 29px;
    line-height: 36px;
    font-weight: bold;
    font-style: italic;
  }
  p{
   font-size: 18px;
   line-height: 28px;
   padding: 0 10px;
   text-align: left;
  }
  a{
    color: @suiteDarkPurple;
    text-decoration: underline;
    padding-bottom: 3px;
    &:active,
    &:hover{
      color: @suitePurple;
    }
  }
  hr{
    margin: 18px 10px 10px 10px;
  }
  .donate_today_button{
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 250px;
    padding: 10px 0 10px 0;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    border-radius: 17px 17px 17px 17px;
  }
  .diamond_level{
    background: url(../img/elements/donate_level_1.png) top center no-repeat transparent;
    padding-top: 300px;
    color: @suitePurple;
    .donate_today_button{
      background-color: @suitePurple;
      border: 2px solid @suiteDarkPurple;
      &:active,
      &:hover{
        color: @suiteDarkPurple;
      }
    }
    hr{
      border-top: 2px solid @suiteDarkPurple;
    }
  }
  .platinum_level{
    background: url(../img/elements/donate_level_2.png) top center no-repeat transparent;
    padding-top: 300px;
    color: @suiteGreen;
    .donate_today_button{
      background-color: @suiteGreen;
      border: 2px solid @suiteDarkGreen;
      &:active,
      &:hover{
        color: @suiteDarkGreen;
      }
    }
    hr{
      border-top: 2px solid @suiteDarkGreen;
    }
  }
  .gold_level{
    background: url(../img/elements/donate_level_3.png) top center no-repeat transparent;
    padding-top: 300px;
    color: @suiteGold;
    .donate_today_button{
      background-color: @suiteGold;
      border: 2px solid @suiteDarkGold;
      &:active,
      &:hover{
        color: @suiteDarkGold;
      }
    }
    hr{
      border-top: 2px solid @suiteDarkGold;
    }
  }
}

.registry_links_border{
  background-color: @suiteDarkGreen;
  margin-top: -5px;
  border-radius: 17px 17px 17px 17px;
  .registry_links{
    background-color: @suiteDarkTan;
    margin: 2px;
    min-height: 450px;
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 17px 17px 17px 17px;
    h1{
      margin: 0;
    }
    ul{
      list-style-type: none;
      padding: 12px 0 0 2px;
      margin: 0;
      li{
        a{
          color: @white;
          &:active,
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.registry_items{
  text-align: center;
  h1{
   background-color: @suiteGreen;
   margin: 35px 0 0 0;
   padding-top: 10px;
  }
  ul{
    background-color: @suiteGreen;
    margin: 0;
    padding:10px 0 0 0;
    list-style-type: none;
    color: @white;
  }
  .item_list_one{
    background: url(../img/elements/registry_icons.png) top center no-repeat transparent;
  }
  .item_list_two{
    background: url(../img/elements/registry_icons.png) center -35px no-repeat transparent;
  }
  .item_list_three{
    margin-top: 32px;
    background: url(../img/elements/registry_icons.png) center -74px no-repeat transparent;
  }
  .item_list_four{
    margin-top: 32px;
    background: url(../img/elements/registry_icons.png) center -108px no-repeat transparent;
  }
}

//Contributors page---------------------------------------------

.story_container{
  .pullquote{
      color: @suiteDarkGray;
      font-size: 18px;
      line-height: 28px;
    p{
      color: @suiteDarkGray;
      font-size: 18px;
      line-height: 28px;
    }
  }
  h3{
    color: @suitePurple;
    text-align: right;
    margin: 0;
  }
}

.story_slideshowA{
  position: static;
}

.story_slideshowB{
  img{
    margin-top: 20px;
    margin-bottom: 15px;
  }
  p{
    margin-top: 15px;
    &.author{
       margin: 0;
       display: block;
    }
  }
}

.story_slideshowC{
  p, p.pullquote{
    margin-top: 15px;
  }
  h3{
    margin: 0;
  }
}


.donor_list{
  background-color: @suiteLightPink;
  min-height: 200px;
  border: 2px solid @suiteDarkPink;
  text-align: center;
  width: 950px;
  margin-left: 4px;
  margin-bottom: 5px;
  border-radius: 17px 17px 17px 17px;
  ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    li{
      a{
        color: @suitePurple;
        text-decoration: underline;
        &:active,
        &:hover{
          color: @suiteDarkPurple;
        }
      }
    }
  }
  .donate_today_button{
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 250px;
    padding: 10px 0 10px 0;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    border-radius: 17px 17px 17px 17px;
  }
  .diamond_donors{
    padding-top: 200px;
    margin-top: 24px;
    background: url(../img/elements/donor_list_1.png) top center no-repeat transparent;
    .donate_today_button{
      background-color: @suitePurple;
      border: 2px solid @suiteDarkPurple;
      &:active,
      &:hover{
        color: @suiteDarkPurple;
      }
    }
  }
  .platinum_donors{
    padding-top: 200px;
    margin: 24px 0 0 5px;
    background: url(../img/elements/donor_list_2.png) top center no-repeat transparent;
     .donate_today_button{
      background-color: @suiteGreen;
      border: 2px solid @suiteDarkGreen;
      &:active,
      &:hover{
        color: @suiteDarkGreen;
      }
    }
  }
  .gold_donors{
    padding-top: 200px;
    margin: 24px 0 15px 14px;
    background: url(../img/elements/donor_list_3.png) top center no-repeat transparent;
    .donate_today_button{
      background-color: @suiteGold;
      border: 2px solid @suiteDarkGold;
      &:active,
      &:hover{
        color: @suiteDarkGold;
      }
    }
  }
}

.donor_box_border{
  margin-top: 11px;
  background-color: @suiteDarkPink;
  border-radius: 17px 17px 17px 17px;
  .donor_box{
    background-color: @suiteLightPink;
    margin: 2px;
    min-height: 180px;
    text-align: center;
    border-radius: 17px 17px 17px 17px;
    h1{
      color: @suitePink;
      padding-top: 15px;
      margin: 0;
    }
    ul{
      list-style-type: none;
      padding: 15px 0 0 0;
      margin: 0;
      li{
        a{
          color: @suitePurple;
          text-decoration: underline;
          &:active,
          &:hover{
            color: @suiteDarkPurple;
          }
        }
      }
    }
  }
}

// Contact Page -------------------------------------------------

.contact_header{
  margin-top: 40px;
  h1{
    color: @suiteGreen;
  }
}

.patient_arrow{
  height: 110px;
  width: 110px;
  background: url(../img/elements/arrow_patient.png) center center no-repeat;
  position: absolute;
  margin-left: 431px;
  margin-top: -39px;
}

.donor_arrow{
  height: 110px;
  width: 132px;
  background: url(../img/elements/arrow_donor.png) center center no-repeat;
  position: absolute;
  margin-left: 570px;
  margin-top: -39px;
}

form{
  margin-top: 15px;
  input[type="text"]{
    height: 45px;
    background-color: @suiteLightTan;
    border: 1px solid @suiteDarkTan;
    color: @suiteDarkPurple;
    font-size: 17px; 
    line-height: 21px;
    border-radius: 17px 17px 17px 17px;
  }
  textarea{
    background-color: @suiteLightTan;
    border: 1px solid @suiteDarkTan;
    color: @suiteDarkPurple;
    font-size: 17px; 
    line-height: 21px;
    padding-top: 15px;
    border-radius: 17px 17px 17px 17px;
  }
  label{
    font-size: 17px; 
    line-height: 21px;
    font-weight: bold;
    color: @suiteGreen;
  }
  .submit{
    color: @white;
    background-color: @suiteGreen;
    border: 1px solid @suiteDarkGreen;
    font-size: 17px; 
    line-height: 21px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 17px 17px 17px 17px;
  }
}


//Footer -----------------------------------------------------------


.sticky_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -243px;  
}

.footer, .push {
  height: 243px; 
}

.footer{
  background-color: @suiteLightTan;
  margin-top: 50px;
}

.push{
  &.general{
    background-color: white;
  }
}

.donation_logo{
  margin: 12px 0 0 0;
  a{
    background: url(../img/elements/donate_seal.png) center center no-repeat;
    width: 164px;
    height: 161px;
    display: block;
    margin-left: 25px;
  }
}

.footer_nav_area{
  ul{
    list-style-type: none;
    margin: 20px 0 10px 0;
    width: 80px;
    float: left;
    padding: 0;
  }
  .copyright{
    p{
       color: @suiteGreen;
    }
  }
}

.footer_map{
  a{
     width: 308px;
     height: 155px;
     display: block;
     margin: 20px 0 0 10px;
     background: url(../img/elements/map.png) center center no-repeat;
     border: 1px solid @suiteDarkTan;
  }
}

a.facebook_section{
  background: url(../img/elements/facebook.png) top left no-repeat;
  margin: 45px 0 0 40px;
  padding: 65px 0 0 0;
  font-size: 17px;
  color: @suiteGreen;
  font-weight: bold;
  &:active,
  &:hover{
    text-decoration: none;
    color: @suitePurple;
  }
}




