//
// Utility classes
// --------------------------------------------------

.full{
  width: 100%;
}

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Show content
.show {
  display: block;
}

// For Affix plugin
.affix {
  position: fixed;
}

 // Image replacement
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    // IE 6/7 fallback
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

 // Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

 // Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

 // Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

 // Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

 // Clearfix: contain floats
.clearfix:before,
.clearfix:after {
    content: " "; // 1
    display: table; // 2
}

.clearfix:after {
    clear: both;
}

 // For IE 6/7 only
.clearfix {
    *zoom: 1;
}