h1{
  text-align:center !important;
}
.fc_cart_item_userid{
  display: none;
}
.success_thanks{
  text-align:center;
  margin-top: 30px;
}
#fc_cart_table{
  margin-top: -42px !important;
}
#fc_receipt_links{
  text-align:center;
}

#fc_receipt_print_link{
  color: white;
  margin: 0 auto;
  margin-top: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
  letter-spacing: .2px;
  text-transform: uppercase;
  background-color: #A29B3D;
  border: 2px solid #837F30;
  cursor: pointer;
  width: 180px;
  margin-bottom: 20px;
  display:block;
}
#fc_receipt_continue_link{
  color: white;
  margin: 0 auto;
  margin-top: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
  letter-spacing: .2px;
  text-transform: uppercase;
  background-color: #D2AE32;
  border: 2px solid #BD9C29;
  cursor: pointer;
  width: 290px;
  display:block;
  margin-bottom:15px;
}