html{
  background-color: #F7F4DD;
}
.fc_cart_item_userid{
  display: none;
}

#foxycart_checkout{
  margin: 0;
  color: #A78305;
  font-family: sans-serif;
  font-size: 14px;
}
header{
  height: 176px;
  text-align:center;
  background-color:white;
}
header img{
  margin: 0 auto;
  margin-top: 40px;
}
#container{
  width: 940px;
  margin: 0 auto;
}
h2{
  font-family: monospace;
  font-weight: normal;
  font-style: italic;
  color: #9F767E;
  margin-bottom: 5px;
  font-size: 23px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.caption{
  padding-bottom:10px;
}
caption{
  margin-top:60px;
  margin-bottom:20px;
}
#fc_cart_foot_shipping{
  display:none;
}
#fc_checkout_cart{
  width: 700px;
  margin: 0 auto;
}
#fc_cart_table{
  background-color: white;
  border: 1px solid #CCBD91;
}
#fc_cancel_continue_shopping{
  float:left;
  position: absolute;
  top: 190px;
  display: none;
}
#fc_cancel_continue_shopping a{
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
  letter-spacing: .2px;
  text-transform: uppercase;
  background-color: #A29B3D;
  border: 2px solid #837F30;
  cursor: pointer;
}
.fc_fieldset_container{
  margin: 0 auto;
  width: 700px;
}
fieldset{
  border:1px solid #CCBD91;
  background-color:white;
}
legend{
  display:none;
}
input[type="text"]{
  border: 1px solid #CCBD91;
  height: 25px;
  border-radius: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #9F767E;
  font-size: 14px;
}
li{
  padding-bottom: 10px;
  list-style-type:none;
}
#fc_customer_info_container input{
  width: 200px;
}
#fc_customer_info_container label{
  width: 100px;
  display: inline-block;
}
#fc_customer_info_container ol{
  margin:0;
  padding: 20px 0 20px 12px;
}
#fc_customer_info_container li{
  float:left;
  margin-right: 10px;
}
.fc_account_message{
  color: #9F767E;
  position:absolute;
  margin-top: -23px;
  margin-left: 270px;
}
#fc_login_register_list{
  margin-bottom: 5px;
}
#li_customer_email input{
  width: 200px;
}
#fc_continue a{
  color: #E56D6C;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
  margin-left: 43px;
}
#fc_shipping_list{
  margin-bottom: -15px;
}
#fc_shipping_list label{
  width: 100px;
  display: inline-block;
}
#fc_payment_method_plastic_container img{
  margin-right: 10px;
}
#fc_help_cvv2_link{
  color:#E56D6C;
}
#fc_complete_order_button{
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
  letter-spacing: .2px;
  text-transform: uppercase;
  background-color: #D2AE32;
  border: 2px solid #BD9C29;
  cursor: pointer;
}
#fc_complete_order_button:hover{
  background-color: #BD9C29;
  border: 2px solid #D2AE32;
}
#fc_customer_billing{
  padding-bottom: 14px;
}
#fc_payment{
  padding-top: 14px;
}
.fc_error{
  color: red;
  display:block;
  margin-top: 10px;
  width: 100% !important;
  float: left;
}
#fc_account_message_status{
  display:none;
}
#foxycart_checkout footer p{
  margin: 0 auto;
  text-align:center;
  padding-bottom: 30px;
}
.fc_subtotal{
  display: none;
}
#fc_error_container{
  position:absolute;
  top:230px;
  margin-left: 78px;
}
#fc_account_message_status{
  width: 360px;
}
.field-wrapper,
.field-wrapper h4{
  margin-bottom: 5px;
}