html{
  background-color: white;
}
.fc_cart_item_userid{
  display: none;
}
a.fc_cart_update,
a.fc_cart_checkout{
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
  text-decoration: none;
  border-radius: 17px 17px 17px 17px;
  letter-spacing: .2px;
  text-transform: uppercase;
}
a.fc_cart_update{
  background-color: #A29B3D;
  border: 2px solid #837F30;
  margin-left: 30px;
  opacity: 0.35;
}
a.fc_cart_update:hover{
  background-color: #837F30;
  border: 2px solid #A29B3D;
}
a.fc_cart_checkout{
  background-color: #D2AE32;
  border: 2px solid #BD9C29;
  margin-left: 335px;
}
a.fc_cart_checkout:hover{
  background-color: #BD9C29;
  border: 2px solid #D2AE32;
}
#fc_cart_controls_top{
  display:none;
}
#fc_cart_table{
  margin-top: 42px;
  width:100%;
  padding: 30px 30px 20px 30px;
}
caption{
  color: #a29b3d;
  font-family: monospace;
  font-size: 29px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
#fc_cart_head{
  height: 40px;
  text-align: left;
  vertical-align:top;
}
#fc_cart_table th{
  font-family: monospace;
  font-weight: normal;
  font-style: italic;
  color: #9F767E;
  margin-bottom: 5px;
  font-size: 23px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
#fc_cart_table td{
  font-size: 14px;
  font-family: sans-serif;
  line-height: 28px;
  color: #a78305;
}
input.fc_cart_item_quantity{
  background-color:#F7F4DD;
  border: 1px solid #CCBD91;
  width: 100px;
  height: 25px;
  border-radius: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #9F767E;
}
#fc_cart_foot_subtotal{
  height: 20px;
}
#fc_cart_foot_subtotal td{
  display: none;
}
#fc_cart_foot_total{
  height: 50px;
}
#fc_cart_foot_total td{
  border-top: 1px solid #CCBD91;
  border-bottom: 1px solid #CCBD91;
}
.fc_cart_item_details .fc_cart_remove_link,
.fc_cart_item_quantity .fc_cart_remove_link{
  display:none;
}
.fc_cart_remove_link{
  color:#E56D6C;
  float:right;
}
.fc_cart_item{
  height: 40px;
}
.fc_cart_item td{
  border-bottom: 1px solid #F7F4DD;
}
.fc_cart_item.fc_cart_item_last td{
  border-bottom: 0;
}
.fc_cart_item td#fc_empty_cart{
  border-bottom:0;
}