[[!Profile? &user=`[[!getUrlParam? &name=`u`]]`]]
<div id="campaign-left">
	<div class="image-container">
		<img src="http://static.independent.co.uk/s3fs-public/styles/article_large/public/thumbnails/image/2016/02/25/13/cat-getty_0.jpg"/>
<!-- 		<img src="assets/uploads/profiles/[[+id]]/[[!FileLister? &path=`assets/uploads/profiles/[[+id]]/` &fileTpl=`tpl-fl-file` &fileLinkTpl=`tpl-fl-file_link`]]" /> -->
	</div><!--/.image-container-->

	<div class="goal-container">
		<span class="progress-bar"></span>
		<span class="goal">Goal: $300</span>
	</div>

	<div class="donate-container">
		<h3>Help Shonna Godoy raise donations for Suites of Hope!</h3>
		<form action="https://suitesofhope.foxycart.com/cart" method="post" accept-charset="utf-8">
      <span class="dollar-sign">$ </span><input size="3" type="text" name="price" value="">
      <input type="hidden" name="name" value="Campaign Donation">
      <button type="submit" name= "Username" value="[[!getUrlParam? &name=`u`]]" class="general_button">Donate</button>
    </form>
	</div><!--/.donate-container-->
</div><!--/#campaign-left-->
<div id="campaign-right">
	<div class="main-content">
		<h2>Shonna Godoy</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum ornare sapien. Nulla pulvinar accumsan arcu, in mollis turpis congue vel. Mauris ac mi sit amet justo sodales porta. Vivamus vestibulum quam metus, at ultrices sem aliquam vel. Maecenas euismod sem in ex cursus luctus. Morbi ultrices, elit a tristique hendrerit, risus justo ultricies nunc, vitae tincidunt orci nisi sed nibh. Proin nec nisl euismod, suscipit tortor et, facilisis metus. Vestibulum nec sagittis purus. Aenean ac volutpat urna. Etiam in purus non ex mattis ultrices. Morbi ut finibus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<p>Vivamus vestibulum quam metus, at ultrices sem aliquam vel. Maecenas euismod sem in ex cursus luctus. Morbi ultrices, elit a tristique hendrerit, risus justo ultricies nunc, vitae tincidunt orci nisi sed nibh. Proin nec nisl euismod, suscipit tortor et, facilisis metus. Vestibulum nec sagittis purus. Aenean ac volutpat urna. Etiam in purus non ex mattis ultrices. Morbi ut finibus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	<div class="share-buttons">
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="facebook share text-hide" target="_blank" title="Share on Facebook">&nbsp;</a>
        <a href="https://twitter.com/intent/tweet?url=&amp;text=Help us raise donations for Suites of Hope!&amp;hashtags=suitesofhope" class="twitter share text-hide" target="_blank" title="Share on Twitter">&nbsp;</a>
        <a href="mailto:?subject=Help us raise donations for Suites of Hope!&amp;body=Shonna Godoy is raising donations for Suites of Hope! Learn more about Shonna's campaign here: http://soh.keystoneresources.modxcloud.com/campaign?u=shonnatest1" class="email text-hide" title="Share via Email">&nbsp;</a>
	</div>
</div><!--/#campaign-right-->