					<hr class="grid_12" />
					<div class="grid_12 content_header contact">
						<h1>Donors</h1>
					</div><!--/.content_header -->
					<div class="donor_contact_form grid_8 push_2">	
						[[!FormIt?
					   &hooks=`spam,FormItLog,fiProcessArrays,email,redirect`
					   &emailTpl=`tpl-form_email`
					   &emailTo=`[[*contact_donor_email]]`
					   &redirectTo=`7`
					   &emailFrom=`donor@suitesofhope.org` 
					   &emailSubject=`You have received a message from suitesofhope.org`
					   &vTextRequired=`required`
					   &vTextEmailInvalid=`required`
					   &vTextEmailInvalidDomain=`required`
					]]
					[[!FormItRetriever]]	
					<form name="donors" id="donors" class="form-vertical" method="post" action="[[~[[*id]]]]">
							<fieldset>
								<input type="hidden" name="nospam:blank" value="" />
								<div class="control-group grid_4 alpha">
									<label class="control-label [[!+fi.error.firstname]]" for="name">First Name<span class="required">*</span></label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="firstname" name="firstname" value="[[!+fi.firstname]]" data-validation-engine="validate[required]"/>
									</div><!-- /.controls -->
								</div><!-- /.control-group -->
								<div class="control-group grid_4 omega">
									<label class="control-label [[!+fi.error.lastname]]" for="unit">Last Name<span class="required">*</span></label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="lastname" name="lastname" value="[[!+fi.lastname]]" data-validation-engine="validate[required]" />
									</div><!-- /.controls -->
								</div><!-- /.control-group -->
								<div class="control-group grid_8 alpha">
									<label class="control-label [[!+fi.error.corporation]]" for="corporation">Corporation Name (if applicable)</label>
									<div class="controls">
									<input type="corporation" name="corporation" id="corporation" class="input-xxlarge" value="[[!+fi.corporation]]" />
									</div><!-- /.controls -->
								</div><!-- /.control-group -->	
								<div class="control-group grid_8 alpha">
									<label class="control-label [[!+fi.error.email]]" for="email">Email<span class="required">*</span></label>
									<div class="controls">
									<input type="email" name="email" id="email" class="input-xxlarge"
										data-validation-engine="validate[required,custom[email]]"
								    value="[[!+fi.email]]" />
									</div><!-- /.controls -->
								</div><!-- /.control-group -->
								<div class="control-group grid_4 alpha">
									<label class="control-label [[!+fi.error.address]]" for="address">Address</label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="address" name="address[]" value="[[!+fi.address]]" />
									</div><!-- /.controls -->
								</div><!-- /.control-group -->
								<div class="control-group grid_4 omega">
									<label class="control-label [[!+fi.error.phone]]" for="phone">Phone</label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="phone" name="phone[]" value="[[!+fi.phone]]" />
									</div><!-- /.controls -->
								</div><!-- /.control-group -->
								<div class="control-group grid_8 alpha">
									<label class="control-label [[!+fi.error.comment]]" for="comment">Comment<span class="required">*</span></label>
									<div class="controls">
										<textarea class="input-xxlarge" id="comment" name="comment" value="[[!+fi.comment]]" rows="8" cols="50" data-validation-engine="validate[required]"></textarea>
									</div><!-- /.controls -->
								</div><!-- /.control-group -->
								<div class="controls pull-right">
									<input type="submit" name="donor_form" value="Submit Form" id="form_submit" class="submit" />
								</div>
							</fieldset>
						</form>
					</div><!--/.patient_contact_form -->