	<footer class="footer full">
		<div class="container_12">
			<hr class="grid_12" />
			<hr class="hr_key footer_key ir grid_12" />
			<div class="ie7_footer_key ir">Key</div><!--/.ie7_footer_key -->
			<div class="donation_logo grid_3">
				<a href="[[~4]]" class="ir">Make a Donation to Suites of Hope</a>
			</div><!-- /.donation_logo -->
			<div class="footer_nav_area grid_3">
				 <ul>
				 	<li><a href="[[~1]]">Home</a></li>
				 	<li><a href="[[~2]]">About</a></li>
				 	<li><a href="[[~3]]">Suites</a></li>
				 </ul>
				 <ul>
				 	<li><a href="[[~4]]">Donate</a></li>
				 	<li><a href="[[~5]]">Contributors</a></li>
				 	<li><a href="[[~6]]">Contact</a></li>
				 </ul>
				 <div class="copyright pull-left">
				 	<p>&copy; Suites of Hope 2012-2020<br />
				 	All rights reserved. <a href="[[~8]]">Privacy Policy</a><br />
				 	Site by <a href="http://www.keystoneresources.com" target="_new">Keystone Resources</a>
				 	</p>
				 </div><!--/.copyright -->
			</div><!--/.footer_nav_area -->
			<div class="footer_map grid_5">		
				<a class="colorbox_map ir" href="#map1">Suites of Hope Location Map</a>
				<div class="colorbox_map_details_container">
					<div id="map1" class="colorbox_map_details">
						<img src="/assets/img/elements/map_footer_large.png" width="800" height="386"/>
					</div>
				</div><!--/.colorbox_map_details_container -->
			</div><!--/.footer_map -->
			<div class="social_media_icons grid_1">
				<a class="facebook_icon" href="http://www.facebook.com/SuitesOfHope" target="_new"></a>
				<a class="twitter_icon" href="http://twitter.com/suitesofhope" target="_new"></a>
			</div><!--/.social_media_icons -->
		</div><!--/.container_12 -->
	</footer>