<div class="form_section grid_12" data-form="form_individual"> 
							<h2>User Registration</h2>
							[[!FormIt?
								&hooks=`spam,apptrackerSave,FormSave`
		            &emailTo=`shonna@keystoneresources.com`
		            &emailSubject=`You have received a submission from [[++site_url]]`
		            &emailFrom=`noreply@creativecorrections.com`
		            &clearFieldsOnSuccess=`1`
		            &fsFormTopic=`test`
		            &successMessage=`<p class="success">Your form has been submitted.</p>`
		            &fsFormTopic=`apptracker`
		            &store=`0`
							]]
							[[!FormItRetriever]]
		
							<form class="form-horizontal" name="form_individual" id="form_individual" method="post" action="[[~[[*id]]]]">
								<fieldset>
								 <input type="hidden" name="username" value="" />
								 

								 
 

								<div class="control-group grid_12 alpha">
									<div class="controls"> 
										<p class="note" style="display: none;">Please do not re-click while form is processing to avoid duplicate submissions.</p> 
										<input type="submit" value="Register" id="form_individual_submit" name="form_individual" class="general_button" />

									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								 
								</fieldset>
							</form>
						</div><!--/.form_indvidual-->