
		<header class="full">
			<a href="[[~4]]" class="donate_tab ir">Donate Tab</a>
			<a id="scroll_to_top" href="#" class="scrollup_tab ir">Scroll to Top of Page</a>
			<div class="main_nav container_12">
				<div class="grid_3">
					<img src="/assets/img/elements/pink-pigeons-logo-6.png"/>
				</div>
				<div class="grid_9">
						<ul><li id="icon_2" class="first"><a href="http://suitesofhope.org/about" title="About" >About</a></li>
							<li id="icon_3"><a href="http://suitesofhope.org/suites" title="Suites" >Suites</a></li>
							<li id="icon_4"><a href="http://suitesofhope.org/donate" title="Donate" >Donate</a></li>
							<li id="icon_5"><a href="http://suitesofhope.org/contributors" title="Contributors" >Contributors</a></li>
							<li id="icon_12"><a href="http://suitesofhope.org/events" title="Events" >Events</a></li>
							<li id="icon_6"><a href="http://suitesofhope.org/contact" title="Contact" >Contact</a></li>
							<li id="icon_79" class="last"><a href="http://pinkpigeons.org/" title="Pink Pigeons - Weblink" >Pink Pigeons</a></li>
						</ul>  
				</div>
			</div><!-- /.main_nav -->
		</header>

		
