
					[[!+fi.validation_error_message]]
					[[!+fi.validation_error]]
					[[!+fi.validation_success_message]]
					
					[[!FormIt?
						&hooks=`editSubmissionTeam`
            &emailTo=`shonna@keystoneresources.com`
            &emailSubject=`You have received a submission from [[++site_url]]`
            &emailFrom=`noreply@suitesofhope.org`
            &clearFieldsOnSuccess=`1`
            &successMessage=`<p class="success">Your form has been submitted.</p>`
            &store=`0`
            &validate=`
            fname:required`
					]]
					[[!FormItRetriever]] 
					
					<form id="form_team" action="[[~[[*id]]]]" method="post" >
						
						[[!Rowboat?
						   &table=`modx_golfteams`
						   &tpl=`tpl-rb-form_team_update`
						   &limit=`1`
						   &cacheResults=`0`
						   &where=`{"id":"[[!getUrlParam? &name=`id`]]"}`
						]]
					
		
												
					</form>
		
			