Team Name:[[+tname]]<br />
Flight Preference: [[+team_time_values]]<br />
Cart: [[+tcart_values]]<br />
2 Person Cart Quantity: [[+tcart2q]]<br />
4 Person Cart Quantity: [[+tcart4q]]<br /><br />

Captain Name: [[+tfname]]<br />
Captain Email: [[+temail]]<br />
Captain Phone: [[+tphone]]<br /><br />

Shooter 2 Name: [[+t2name]]<br />
Shooter 2 Email: [[+t2email]]<br />
Shooter 2 Phone: [[+t2phone]]<br /><br />

Shooter 3 Name: [[+t3name]]<br />
Shooter 3 Email: [[+t3email]]<br />
Shooter 3 Phone: [[+t3phone]]<br /><br />

Shooter 4 Name: [[+t4name]]<br />
Shooter 4 Email: [[+t4email]]<br />
Shooter 4 Phone: [[+t4phone]]<br /><br />