<tr>
	<td><a href="[[~97]]?id=[[+id]]">Edit</a></td>
	<td>[[+type]]</td>
	<td>[[+time_values]]</td>
	<td>[[+teamname]]</td>
	<td>[[+fname]]</td>
	<td>[[+email]]</td>
	<td>[[+phone]]</td>
	<td>[[+carttype_values]]</td>
	<td>[[+cartamount]]</td>
	<td>[[+t2name]]</td>
	<td>[[+t2email]]</td>
	<td>[[+t2phone]]</td>
	<td>[[+t3name]]</td>
	<td>[[+t3email]]</td>
	<td>[[+t3phone]]</td>
	<td>[[+t4name]]</td>
	<td>[[+t4email]]</td>
	<td>[[+t4phone]]</td>
	
</tr>