<div class="form_section grid_12" data-form="form_team"> 
							<h2>Four Person Team - $[[*register_team]]</h2>
							[[!FormIt?
							  &hooks=`spam,FormItSaveForm,registerTeam,redirect`
							  &emailTo=`shonna@keystoneresources.com`
							  &emailTpl=`pp_email_team`
							  &emailSubject=`A team has registered for Pink Pigeons`
							  &emailFrom=`noreply@suitesofhope.org`
							  &clearFieldsOnSuccess=`1`
							  &redirectTo=`42`
								&redirectParams=`{"qc4":"[[!+fi.cart4q]]","rt":"Team","fullname":"[[!+fi.fname]]","email":"[[!+fi.email]]","phone":"[[!+fi.phone]]"}` 
							  &store=`0`
							  &submitVar=`form_team`
							  &customValidators=`isUniqueTeam`
							  &formName=`Teams` 
							  &validate=`
							  username:blank,
							  fname:required,
							  email:email:required, 
							  phone:required,
							  time_values:required,
							  teamname:isUniqueTeam,
							  cart4q:isNumber`
							]] 
							[[!FormItRetriever]]
		
							<form class="form-horizontal" name="form_team" id="form_team" method="post" action="[[~[[*id]]]]">
								<fieldset>
								 <input type="hidden" name="username" value="" />
								 
								 <input type="hidden" name="type" value="Team" />
								 <input type="hidden" name="cart2q" value="0" />
								 <input type="hidden" name="time_values[]" value="Morning">
								 
<!--
								 	<div class="control-group grid_12 alpha">
									[[!+fi.error.time_values]]
									<label class="control-label" for="time_values">Choose one*: <span class="required"></span></label>
									<div class="controls">
										<div class="radio_row">
											
											<input type="checkbox" name="time_values[]" value="Morning"  [[!+fi.time_values:FormItIsChecked=`Morning`]]/>Morning Flight 9 A.M. - 12 P.M.
											<div class="checkbox-custom" data-name="time_values"></div>
										</div>
										<div class="radio_row">
											<input type="checkbox" name="time_values[]" value="Afternoon" [[!+fi.time_values:FormItIsChecked=`Afternoon`]] />Afternoon Flight 1 P.M. - 4 P.M.
											<div class="checkbox-custom" data-name="time_values"></div>
										</div>
									</div>     							
								</div>
-->
								
								<div class="control-group grid_12 alpha">
									[[!+fi.error.teamname]]
									<label class="control-label long" for="teamname">Team Name (Optional): &nbsp;&nbsp;</label>
									<div class="controls"> 
										<input type="text" id="teamname"  name="teamname" value="[[!+fi.teamname]]" class="input-xlarge" >
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								 
								 <h3>Captain (Required)</h3>								 
								 
								 <div class="control-group grid_6 alpha">
									[[!+fi.error.fname]]
									<label class="control-label" for="fname">Name*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="fname"  name="fname" value="[[!+fi.fname]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
				
								<div class="control-group grid_6 omega">
									[[!+fi.error.email]]
									<label class="control-label" for="email">Email*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="email"  name="email" value="[[!+fi.email]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.phone]]
									<label class="control-label" for="phone">Phone*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="phone"  name="phone" value="[[!+fi.phone]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<!-- #2 -->
								<h3>Shooter 2 (Optional)*</h3>	
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.t2name]]
									<label class="control-label" for="t2name">Name: </label>
									<div class="controls"> 
										<input type="text" id="t2name"  name="t2name" value="[[!+fi.t2name]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								
								<div class="control-group grid_6 omega">
									[[!+fi.error.t2email]]
									<label class="control-label" for="t2email">Email: </label>
									<div class="controls"> 
										<input type="text" id="t2email"  name="t2email" value="[[!+fi.t2email]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.t2name]]
									<label class="control-label" for="t2phone">Phone: </label>
									<div class="controls"> 
										<input type="text" id="t2phone"  name="t2phone" value="[[!+fi.t2phone]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
									<h3>Shooter 3 (Optional)*</h3>	
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.t3name]]
									<label class="control-label" for="t3name">Name: </label>
									<div class="controls"> 
										<input type="text" id="t3name"  name="t3name" value="[[!+fi.t3name]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
		
								
								<div class="control-group grid_6 omega">
									[[!+fi.error.t3email]]
									<label class="control-label" for="t3email">Email: </label>
									<div class="controls"> 
										<input type="text" id="t3email"  name="t3email" value="[[!+fi.t3email]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.t3phone]]
									<label class="control-label" for="t3phone">Phone: </label>
									<div class="controls"> 
										<input type="text" id="t3phone"  name="t3phone" value="[[!+fi.t3phone]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<h3>Shooter 4 (Optional)*</h3>
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.t4name]]
									<label class="control-label" for="t4name">Name: </label>
									<div class="controls"> 
										<input type="text" id="t4name"  name="t4name" value="[[!+fi.t4name]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								
								
								<div class="control-group grid_6 omega">
									[[!+fi.error.t4email]]
									<label class="control-label" for="t4email">Email: </label>
									<div class="controls"> 
										<input type="text" id="t4email"  name="t4email" value="[[!+fi.t4email]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.t4phone]]
									<label class="control-label" for="t4phone">Phone: </label>
									<div class="controls"> 
										<input type="text" id="t4phone"  name="t4phone" value="[[!+fi.t4phone]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								<br />
								
								
								<div class="control-group grid_12 hidden">
									[[!+fi.error.carttype_values]]
									<label class="control-label" for="carttype_values">Golf cart:</label>
									
									<div class="controls">
										<input type="hidden" name="carttype_values[]" value="">
										<div class="radio_row">
<!--
											<input type="checkbox" name="carttype_values[]" value="2 Person Cart"  [[!+fi.carttype_values:FormItIsChecked=`2 Person Cart`]] />2-Person - $[[*register_cart]] Per Cart Rental
											<div class="checkbox-custom" data-name="carttype_values"></div>
										</div>
-->
										<div class="radio_row">
											<input type="checkbox" name="carttype_values[]" value="4 Person Cart" [[!+fi.carttype_values:FormItIsChecked=`4 Person Cart`]] />4-Person - $[[*register_cart_2]] Per Cart Rental
											<div class="checkbox-custom" data-name="carttype_values"></div>
										</div><!--/.radio_row-->
									</div><!-- /.controls --> 								
								</div><!-- /.control-group -->
								</div>
								
							<!--
								<div class="control-group grid_4 push_1 alpha">
									[[!+fi.error.cart2q]]
									<label class="control-label" for="cart2q">Number of carts: </label>
									<div class="controls"> 
										<input type="text" id="cart2q"  name="cart2q" value="[[!+fi.cart2q]]" class="input-small" >
									</div>    							
								</div>
								-->
								<div class="control-group grid_6 push_2 omega hidden" >
									[[!+fi.error.cart4q]]
									<label class="control-label" for="cart4q" style="width: 200px; margin-left: -37px; margin-right: 10px;">&nbsp; Number of carts: </label>
									<div class="controls"> 
										<input type="text" id="cart4q"  name="cart4q" value="[[!+fi.cart4q]]" class="input-small" style="white-space:nowrap;" > 
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->

					
								

								<div class="control-group grid_12 alpha">
									<div class="controls">
										<p class="finetext">* Shooter names 2-4 can be provided the day of the shoot at the registration table.</p>
										<p class="note" style="display: none;">Please do not re-click while form is processing to avoid duplicate submissions.</p> 
										<input type="submit" value="Register" id="form_team_submit" name="form_team" class="general_button" />

									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								 
								</fieldset>
								
								<hr class="grid_12" />
								
								<h3>For sponsorship inquiries, contact <a href="mailto:pinkpigeons@suitesofhope.org">pinkpigeons@suitesofhope.org.</a></h3>
								
							</form>
						</div><!--/.form_team-->