<div class="form_section grid_12" data-form="form_individual"> 
							<h2>User Registration</h2>
							[[!FormIt?
								&hooks=`spam,apptrackerSave,FormItSaveForm`
		            &emailTo=`shonna@keystoneresources.com`
		            &emailSubject=`You have received a submission from [[++site_url]]`
		            &emailFrom=`noreply@suitesofhope.org`
		            &clearFieldsOnSuccess=`1`
		            &formName=`User Registration`
		            &successMessage=`<p class="success">Your form has been submitted.</p>`
		            &store=`0`
							]]
							[[!FormItRetriever]]
		
							<form class="form-horizontal" name="form_individual" id="form_individual" method="post" action="[[~[[*id]]]]">
								<fieldset>
								 <input type="hidden" name="username" value="" />
								 

								<div class="control-group">
									<span class="error">[[!+fi.error.lname]]</span>
									<label for="lname">Last Name</label>
									<input type="text" name="lname" value="" />
								</div><!--/.control-group-->
								
								<div class="control-group">
									<span class="error">[[!+fi.error.fname]]</span>
									<label for="fname">First Name</label>
									<input type="text" name="fname" value="" />
								</div><!--/.control-group-->
 

								<div class="control-group grid_12 alpha">
									<div class="controls"> 
										<p class="note" style="display: none;">Please do not re-click while form is processing to avoid duplicate submissions.</p> 
										<input type="submit" value="Register" id="form_individual_submit" name="form_individual" class="general_button" />

									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								 
								</fieldset>
							</form>
						</div><!--/.form_indvidual-->