<div class="form_section grid_12" data-form="form_individual"> 
							<h2>Individual - $[[*register_ind]]</h2>
							[[!FormIt?
							  &hooks=`spam,FormItSaveForm,registerTeam,redirect`
							  &emailTo=`shonna@keystoneresources.com`
							  &emailTpl=`pp_email_ind`
							  &emailSubject=`An individual has registered for Pink Pigeons`
							  &emailFrom=`noreply@suitesofhope.org`
							  &clearFieldsOnSuccess=`1`
							  &redirectTo=`42`
							  &redirectParams=`{"qc4":"[[!+fi.cart4q]]","rt":"Individual","fullname":"[[!+fi.fname]]","email":"[[!+fi.email]]","phone":"[[!+fi.phone]]"}` 
							  &store=`0`
							  &submitVar=`form_individual`
							  &formName=`Individuals` 
							  &validate=`
							  username:blank,
							  fname:required,
							  email:email:required, 
							  phone:required,
							  time_values:required,
							  cart4q:isNumber`
							]] 
							[[!FormItRetriever]]
		
							<form class="form-horizontal" name="form_individual" id="form_individual" method="post" action="[[~[[*id]]]]">
								<fieldset>
								 <input type="hidden" name="username" value="" />
								 
								 <input type="hidden" name="type" value="Individual" />
								 <input type="hidden" name="cart2q" value="0" />
								 <input type="hidden" name="time_values[]" value="Morning">
								 
<!--
								 	<div class="control-group grid_12 alpha">
									[[!+fi.error.time_values]]
									<label class="control-label" for="time_values">Choose one*: <span class="required"></span></label>
									<div class="controls">

										<div class="radio_row">
											<input type="radio" name="time_values[]" value="Morning"  [[!+fi.time_values:FormItIsChecked=`Morning`]]/>Morning Flight 9 A.M. - 12 P.M.
											<div class="checkbox-custom" data-name="time_values"></div> 
										</div>

										<div class="radio_row">
											<input type="radio" name="time_values[]" value="Afternoon" [[!+fi.time_values:FormItIsChecked=`Afternoon`]]  />Afternoon Flight 1 P.M. - 4 P.M.
											<div class="checkbox-custom" data-name="time_values"></div>
										</div>

									</div> 							
								</div>
-->
								 
								 
								 <div class="control-group grid_6 alpha">
									[[!+fi.error.fname]]
									<label class="control-label" for="fname">Name*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="fname"  name="fname" value="[[!+fi.fname]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
				
								<div class="control-group grid_6 omega">
									[[!+fi.error.email]]
									<label class="control-label" for="email">Email*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="email"  name="email" value="[[!+fi.email]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group grid_6 alpha">
									[[!+fi.error.phone]]
									<label class="control-label" for="phone">Phone*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="phone"  name="phone" value="[[!+fi.phone]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
														
								<div class="control-group grid_12 hidden">
									[[!+fi.error.carttype_values]]
									<label class="control-label" for="carttype_values">Golf cart:</label>
									
									<div class="controls">
										<input type="hidden" name="carttype_values[]" value="">
										<div class="radio_row">
<!--
											<input type="checkbox" name="carttype_values[]" value="2 Person Cart"  [[!+fi.carttype_values:FormItIsChecked=`2 Person Cart`]] />2-Person - $[[*register_cart]] Per Cart Rental
											<div class="checkbox-custom" data-name="carttype_values"></div>
										</div>
-->
										<div class="radio_row">
											<input type="checkbox" name="carttype_values[]" value="4 Person Cart" [[!+fi.carttype_values:FormItIsChecked=`4 Person Cart`]] />4-Person - $[[*register_cart_2]] Per Cart Rental
											<div class="checkbox-custom" data-name="carttype_values"></div>
										</div><!--/.radio_row-->
									</div><!-- /.controls --> 								
								</div><!-- /.control-group -->
								
<!--
								<div class="control-group grid_4 push_1 alpha">
									[[!+fi.error.cart2q]]
									<label class="control-label" for="cart2q">Number of carts: </label>
									<div class="controls"> 
										<input type="text" id="cart2q"  name="cart2q" value="[[!+fi.cart2q]]" class="input-small" >
									</div>    							
								</div>
								-->
								<div class="control-group grid_6 push_2 omega hidden">
									[[!+fi.error.cart4q]]
									<label class="control-label" for="cart4q" style="width: 200px; margin-left: -37px; margin-right: 10px;">&nbsp; Number of carts: </label>
									<div class="controls"> 
										<input type="text" id="cart4q"  name="cart4q" value="[[!+fi.cart4q]]" class="input-small" > 
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
 

								<div class="control-group grid_12 alpha">
									<div class="controls"> 
										<p class="note" style="display: none;">Please do not re-click while form is processing to avoid duplicate submissions.</p> 
										<input type="submit" value="Register" id="form_individual_submit" name="form_individual" class="general_button" />

									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								 
								</fieldset>
							</form>
						</div><!--/.form_indvidual-->