Name: [[+fname]]<br />
Email: [[+email]]<br />
Phone: [[+phone]]<br />
Flight Preference: [[+time_values]]<br />
Cart: [[+cart_values]]<br />
2 Person Cart Quantity: [[+cart2q]]<br />
4 Person Cart Quantity: [[+cart4q]]