					<hr class="grid_12" />
					<div class="grid_12 content_header contact">
						<h1>Patients</h1>
					</div><!--/.content_header -->
					[[!FormIt?
					   &hooks=`spam,FormItLog,fiProcessArrays,email,redirect`
					   &emailTpl=`tpl-form_email`
					   &emailTo=`[[*contact_patient_email]]`
					   &redirectTo=`7`
					   &emailFrom=`patient@suitesofhope.org` 
					   &emailSubject=`You have recieved a message from suitesofhope.org`
					   &vTextRequired=`required`
					   &vTextEmailInvalid=`required`
					   &vTextEmailInvalidDomain=`required`
					]]
					[[!FormItRetriever]]		
					<div class="patient_contact_form grid_8 push_2">
						<form name="patients" id="patients" class="form-vertical" method="post" action="[[~[[*id]]]]">
							<fieldset>
								<input type="hidden" name="nospam:blank" value="" />
								<div class="control-group grid_4 alpha">
									<label class="control-label [[!+fi.error.firstname]]" for="name">First Name<span class="required">*</span></label>
									<div class="controls"> 
										<input type="text" class="input-xlarge" id="firstname" name="firstname" value="[[!+fi.firstname]]" data-validation-engine="validate[required]"/>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								<div class="control-group grid_4 omega">
									<label class="control-label [[!+fi.error.lastname]]" for="unit">Last Name<span class="required">*</span></label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="lastname" name="lastname" value="[[!+fi.lastname]]" data-validation-engine="validate[required]" />
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								<div class="control-group grid_8 alpha">
									<label class="control-label [[!+fi.error.email]]" for="email">Email <span class="required">*</span></label>
									<div class="controls">
										<input type="text" class="input-xxlarge" id="email" name="email" value="[[!+fi.email]]" data-validation-engine="validate[required,[email]]" />
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								<div class="control-group grid_4 alpha">
									<label class="control-label [[!+fi.error.phone]]" for="phone">Phone</label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="phone" name="phone[]" value="[[!+fi.phone]]" />
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								<div class="control-group grid_4 omega">
									<label class="control-label [[!+fi.error.treatment]]" for="treatment">Dates of Treatment</label>
									<div class="controls">
										<input type="text" class="input-xlarge" id="treatment" name="treatment[]" value="[[!+fi.treatment]]" />
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->			
								<div class="control-group grid_8 alpha">
									<label class="control-label [[!+fi.error.comment]]" for="comment">Comment<span class="required">*</span></label>
									<div class="controls">
										<textarea class="input-xxlarge" id="comment" name="comment" value="[[!+fi.comment]]" rows="8" cols="50" data-validation-engine="validate[required]"></textarea>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								<div class="controls pull-right">
									<input type="submit" name="patient_form" value="Submit Form" id="form_submit" class="submit" />
								</div>	
							</fieldset>
						</form>
					</div><!--/.patient_contact_form -->