		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
		<script src="/assets/js/plugins.js"></script>
		<script src="/assets/js/vendor/jquery.validationEngine.js"></script>
		<script src="/assets/js/vendor/languages/jquery.validationEngine-en.js"></script>
		[[*id:is=`87`:then=`
			<script type="text/javascript" src="assets/js/vendor/jquery.dataTables.min.js"></script>
			`]]
		<script src="/assets/js/main.js"></script>
		[[*id:is=`4`:then=`<script src="//cdn.foxycart.com/suitesofhope/foxycart.colorbox.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
    var colorbox_close = 'Close [<span style="text-decoration:underline">x</span>]';
    </script>
`]]