						<div id="storyB_[[+idx]]" class="story_container">
							<img class="grid_3 pull-left alpha" src="[[+imageB]]" width="224" height="150" />
							<span class="grid_4">[[+paraB]]</span>
						    <div class="grid_3 pullquote omega">
						    	<p>"[[+quoteB]]"</p>
						    </div>
						    <span class="story_author grid_10">[[+authorB]]</span>
						</div><!--/.story_container -->