						<div id="storyA_[[+idx]]" class="story_container">
							<p class="pullquote grid_10 alpha omega">“[[+quoteA]]”</p>
							 <span class="story_author grid_10">[[+authorA]]</span>
						</div><!--/.story_container -->
