<div class="bio_box_border ie8_corner grid_4">
	<div class="bio_box ie8_corner">
		<div class="bio_box_content_top">
			<img src="[[+imageBio]]" alt="[[+nameBio]]" title="[[+nameBio]]" />
			<div class="bio_title">
				<p class="name">
					[[+nameBio]]<br />
					[[+titleBio]]
				</p>
			</div><!-- /.bio_title -->
		</div><!-- /.bio_box_content_top -->
		<div class="bio_box_content_bottom">
			<p>[[+contentBio]]</p>
		</div><!-- /.bio_box_content_bottom -->
	</div><!--/.bio_box -->
</div><!-- /.bio_box_border -->