					<div class="suite_faq">
						<span class="grid_1">Q:</span>
						<div class="suite_question equal grid_4">
							<p>[[+suiteQ]]</p>
						</div><!--/.suite_question -->
						<span class="grid_1">A:</span>
						<div class="suite_answer equal grid_6">
							<p>[[+suiteA]]</p>
						</div><!-- /.suite_answer -->
					</div><!--/.suite_faq -->