<div class="event_detail_item grid_12">
<div class="grid_3 event_info alpha">
  <div class="back_events">
	  <a onclick="history.back()" class="back_upcoming">Back to Upcoming Events</a>
	  <a onclick="history.back()" class="back_past">Back to Past Events</a>
  </div><!--/.back_events-->
	<h2>[[+title]]</h2>
		<p>
			<strong>Date:</strong> [[+startdate:date=`%B %e, %Y`]]<br />
			<strong>Time:</strong> [[+startdate:date=`%I:%M %p`]] - [[+enddate:date=`%I:%M %p`]]<br />
			[[+location_address:is=``:and:if=`[[+location_name]]`:is=``:then=``:else=`<strong>Location:</strong> [[+location_name]] [[+location_name:is=``:then=`[[+location_address]]`:else=`- [[+location_address]]`]]`]]
		</p>
</div><!--/.grid_4-->
<div class="grid_1 arrow_container">
	<a id="prev_event" class="event_slider_arrow left ir">Left</a>
</div>
<div class="grid_7 event_desc omega">
	<p>[[+content]]</p>
</div><!--/.grid_6-->
<div class="grid_1 arrow_container">
<a id="next_event" class="event_slider_arrow right ir">Right</a>
</div><!--/. arrow_container -->
</div><!/.grid_12-->