<form class="form form-horizontal" action="https://suitesofhope.foxycart.com/cart" method="post" accept-charset="utf-8">
  <div id="[[+itemName:lcase:replace=` ==_`:urlencode]]" class="grid_4">

  	  <h2>[[+itemName]]</h2>
  		<span class="cost">$[[+itemCost]]</span>

  		<div class="controls">
  			<label>Quantity</label>
  			<input type="hidden" name="name" value="[[+itemName]]" />
  			<input type="hidden" name="price" value="[[+itemCost]]" />
  			<input type="text" name="quantity" value="" />
  		</div>
  		<div class="controls">
  		  <input type="submit" value="ADD ITEM TO CART"/>
  		</div>

  </div><!--/.grid_12-->
</form>