<div class="upcoming_event_item past_item grid_9 alpha omega" data-year="[[+startdate:date=`%Y`]]">
  <h2>[[+title]]</h2>
	<p>
		<strong>Date:</strong> [[+startdate:date=`%B %e, %Y`]]<br />
		<strong>Time:</strong> [[+startdate:date=`%I:%M %p`]] - [[+enddate:date=`%I:%M %p`]]<br />
		[[+location_address:is=``:and:if=`[[+location_name]]`:is=``:then=``:else=`<strong>Location:</strong> [[+location_name]] [[+location_name:is=``:then=`[[+location_address]]`:else=`- [[+location_address]]`]]`]]
	</p>
	<p>[[+description:is=``:then=`[[+content]]`:else=`[[+description]]`]]</p>
	[[+content:isnt=``:then=`
	<div class="read_more_button">
		<a href="[[+detailURL]]#past">Read More</a>
	</div><!--/.read_more_button -->
	`]]
</div><!--/.upcoming_event_item-->