<li>
[[+display_contributor:is=`1`:then=`[[+contributor_display_name]]`]]
[[+display_recognition:is=`1`:then=`
	[[+display_contributor:is=`0`:then=`Anonymous`]]
	<span>In [[+recognition]] of [[+recognition_display_name]]</span>
`]]
</li>