					<div class="suite_container[[+idx]]" data-slide="[[+idx]]">
							<div class="grid_6">
								<div class="suite_info_area grid_3 alpha">
									[[If?
										   &subject=`[[+imageALink]]`
										   &operator=`isempty`
										   &then=`
										   <div class="image_border">
										  	 	<img src="[[+imageA]]" alt="[[+titleA]]" title="[[+titleA]]" />
										   	</div>
											<h3>[[+titleA]]</h3>
											<p>[[+contentA]]</p>`
										   &else=`
										   <div class="image_border">
										  	 	<a href="[[+imageALink]]" target="_new"><img src="[[+imageA]]" alt="[[+titleA]]" title="[[+titleA]]" /></a>
										   	</div>
											<a class="title" href="[[+imageALink]]" target="_new">[[+titleA]]</a>
											<p>[[+contentA]]</p>`
										]]
								</div><!--/.suite_info_area-->
								<div class="suite_info_area grid_3 alpha">
									<div class="image_border">
										<a href="[[+imageBLink]]" target="_new"><img src="[[+imageB]]" alt="[[+titleB]]" title="[[+titleB]]" /></a>
									</div>
									<a class="title" href="[[+imageBLink]]" target="_new">[[+titleB]]</a>
									<p>[[+contentB]]</p>
								</div><!--/.suite_info_area -->
								[[If?
								   &subject=`[[+titleC]]`
								   &operator=`isempty`
								   &then=`	`
								   &else=`<div class="suite_info_area grid_3 alpha">
													<div class="image_border">
														<a href="[[+imageCLink]]" target="_new"><img src="[[+imageC]]" alt="[[+titleC]]" title="[[+titleC]]" /></a>
													</div>
													<a class="title" href="[[+imageCLink]]" target="_new">[[+titleC]]</a>
													<p>[[+contentC]]</p>
												</div><!--/.suite_info_area-->`
								]]
								[[If?
								   &subject=`[[+titleD]]`
								   &operator=`isempty`
								   &then=`	`
								   &else=`<div class="suite_info_area grid_3 alpha">
													<div class="image_border">
														<a href="[[+imageDLink]]" target="_new"><img src="[[+imageD]]" alt="[[+titleD]]" title="[[+titleD]]" /></a>
													</div>
													<a class="title" href="[[+imageDLink]]" target="_new">[[+titleD]]</a>
													<p>[[+contentD]]</p>
												</div><!--/.suite_info_area-->`
								]]
							</div><!-- /.grid_6 -->
							<div class="suite_list_area grid_4">
								<h3>[[+suiteList1Title]]</h3>
								[[+suiteList1Content]]
							</div><!--/.suite_info_area -->
							[[+suiteList2Content:isnt=``:then=`
							  <div class="suite_list_area grid_4">
								[[If?
								   &subject=`[[+suiteList2Title]]`
								   &operator=`isempty`
								   &then=`	`
								   &else=`<h3>[[+suiteList2Title]]</h3>
												[[+suiteList2Content]]`
								]]
							</div><!--/.suite_info_area -->
							`]]
						</div><!--/.suite_container --- this is what contains/seperates each slideshow section ---->