<article>
	<a href="[[~92]]?u=[[+username]]">
		<h2>[[+username]]</h2>
		<div class="image-container">
			<img src="http://static.independent.co.uk/s3fs-public/styles/article_large/public/thumbnails/image/2016/02/25/13/cat-getty_0.jpg"/>
		</div>
	</a>
</article>