						<div id="storyC_[[+idx]]" class="story_container">
							<p class="grid_4 pullquote alpha">"[[+quoteC]]"</p>
						 	<div class="grid_6 omega">
						 		<p>[[+paraC]]</p>
							</div>
							 <span class="story_author grid_10">[[+authorC]]</span>
						</div><!--/.story_container -->