[[!Register?
	&preHooks=`register.preHook`
	&postHooks=`register.postHook`
	&placeholderPrefix=`reg.`
  &submittedResourceId=`91`
  &submitVar=`registerbtn`
  &activation=`0`
  &usergroups=`Campaigners:Member`
  &validate=`nospam:blank,
	  username:required:minLength=^6^,
	  password:required:minLength=^6^,
	  password_confirm:password_confirm=^password^,
	  fname:required,
	  lname:required,
	  email:required`
]] 
  
<div class="register">
    <div class="registerMessage">[[!+reg.error.message]]</div>
 
    <form class="registerForm" action="[[~[[*id]]]]" method="post" enctype="multipart/form-data" runat="server" >
        <input type="hidden" name="nospam" value="[[!+reg.nospam]]" />
        
        <h2>Account Information</h2> 
        
        <h3>Please fill out the information below to create your own campaign. You may change your account preferences at any time.</h3> <br />
				
				<div class="control-row">
					
					<div class="control-group">
						<label for="fullname">First Name*
	            [[!+reg.error.fname]]
		        </label>
		        <input type="text" name="fname" id="fname" value="[[!+reg.fname]]" />
	        </div><!--/.group-->
	        <div class="control-group">
						<label for="fullname">Last Name*
	            [[!+reg.error.lname]]
		        </label>
		        <input type="text" name="lname" id="lname" value="[[!+reg.lname]]" />
	        </div><!--/.group-->
	        <div class="control-group">
	        <label for="email">Email Address*
	            [[!+reg.error.email]]
	        </label>
	        <input type="text" name="email" id="email" value="[[!+reg.email]]" />
	        </div><!--/.group-->
	       </div><!--/.row-->
	       
				 <input type="hidden" name="fullname" id="fullname" value="[[!+reg.fname]] [[!+reg.lname]]" />
					
				<div class="control-row">
					<div class="control-group">
						<label for="username">[[%register.username? &namespace=`login` &topic=`register`]]*
            	[[!+reg.error.username]]
						</label>
	       	  <input type="text" name="username" id="username" value="[[!+reg.username]]" />
	        </div><!--/.group-->

					<div class="control-group">
		        <label for="password">[[%register.password]]*
		           [[!+reg.error.password]]
		        </label>
		        <input type="password" name="password" id="password" value="[[!+reg.password]]" />
					</div><!--/.group-->
					<div class="control-group">
	        <label for="password_confirm">[[%register.password_confirm]]*
	          [[!+reg.error.password_confirm]]
	        </label>
	        <input type="password" name="password_confirm" id="password_confirm" value="[[!+reg.password_confirm]]" />
					</div><!--/.group-->
				</div><!--/.row-->
				
				<div class="control-row">
					<div class="control-group radios">
						<label>What type of campaign would you like to setup?*</label>
						<input type="hidden" name="campaigntypemerge" value="" />
		        <input type="radio" name="campaigntype[]" value="Suites of Hope"/> <span>Suites of Hope</span><br />
		        <input type="radio" name="campaigntype[]" value="Pink Pigeons"  /> <span>Pink Pigeons</span>
					</div><!--/.group-->
				</div><!--/.row-->
				
				<div class="control-row">
					<div class="control-group radios">
						<label>Would you prefer to display your username or real name in your campaign?*</label>
						<input type="hidden" name="nametypemerge" value="" />
		        <input type="radio" name="nametype[]" value="Username"/> <span>Username</span><br />
		        <input type="radio" name="nametype[]" value="Real Name"  /> <span>Real name</span>
					</div><!--/.group-->
				</div><!--/.row-->
				
				<div class="control-row">
					<div class="control-group radios">
						<label>Would you like your campaign to appear in the public campaign gallery?*</label>
						<input type="hidden" name="showgallerymerge" value="" />
		        <input type="radio" name="showgallery[]" value="Yes"/> <span>Yes</span><br />
		        <input type="radio" name="showgallery[]" value="No"  /> <span>No</span>
					</div><!--/.group-->
				</div><!--/.row-->
				
				<div class="control-row">
					<div class="control-group image-selector">
						<label>Select your profile image. For best results, use an image that is at least 450 pixels wide.</label>
						<input type="file" id="imgInp" name="photo" />
						<h3>Image preview:</h3>
						<div class="image-preview-container">
							<img id="blah" src="#" alt="your image" />
						</div><!--/.image-preview-->
					</div><!--/.group-->
				</div><!--/.row-->
				
                
         <br class="clear" />
    
  
 
        <div class="form-buttons">
            <input type="submit" name="registerbtn" value="Register" class="submit" />
        </div>
    </form>
</div>