<div class="edit-utility">
	<a href="[[~87]]">Return to Database</a><br />
	<a href="#" class="delete-button">Delete Submission</a>
	<span class="delete-confirm">Are you sure? <a href="[[~98]]?id=[[+id]]">Yes</a> or <a href="#" class="delete-cancel">No</a>
	</span>
</div>
								 	
								 <input type="hidden" name="id" value="[[+id]]" />
		
								 <div class="control-group" style="width: 100%;">
									<label class="control-label long" for="type">Type:</label>
									<div class="controls"> 
										 <input type="text" name="type" value="[[+type]]" />									
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group">
									<label class="control-label long" for="teamname">Team Name:</label>
									<div class="controls"> 
										<input type="text" id="teamname"  name="teamname" value="[[+teamname]]" class="input-xlarge" >
									</div><!-- /.controls -->     							
								</div><!-- /.control-group --> 
								
						
								 	<div class="control-group">
									<label class="control-label" for="time_values">Morning or Afternoon?:</label>
									<div class="controls">
											<input type="text" name="time_values" value="[[+time_values]]">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group carts">
									<label class="control-label" for="carttype_values">Golf cart type:</label>
									<div class="controls">
											<input type="text" name="carttype_values" value="[[+carttype_values]]">
									</div><!-- /.controls --> 								
								</div><!-- /.control-group -->
								
								<div class="control-group">
									<label class="control-label" for="cartamount">Number of carts: </label>
									<div class="controls"> 
										<input type="text" id="cartamount"  name="cartamount" value="0" class="input-small" >
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								

								 
								 <h3>Captain (Required)</h3>								 
								 
								 <div class="control-group">
									<label class="control-label" for="fname">Name*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="fname"  name="fname" value="[[+fname]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
				
								<div class="control-group">
									<label class="control-label" for="email">Email*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="email"  name="email" value="[[+email]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group">
									<label class="control-label" for="phone">Phone*: <span class="required"></span></label>
									<div class="controls"> 
										<input type="text" id="phone"  name="phone" value="[[+phone]]" class="input-xlarge" required>
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<!-- #2 -->
								<h3>Shooter 2 (Optional)*</h3>	
								
								<div class="control-group">
									<label class="control-label" for="t2name">Name: </label>
									<div class="controls"> 
										<input type="text" id="t2name"  name="t2name" value="[[+t2name]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								
								<div class="control-group">
									<label class="control-label" for="t2email">Email: </label>
									<div class="controls"> 
										<input type="text" id="t2email"  name="t2email" value="[[+t2email]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group">
									[[!+fi.error.t2name]]
									<label class="control-label" for="t2phone">Phone: </label>
									<div class="controls"> 
										<input type="text" id="t2phone"  name="t2phone" value="[[+t2phone]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
									<h3>Shooter 3 (Optional)*</h3>	
								
								<div class="control-group">
									[[!+fi.error.t3name]]
									<label class="control-label" for="t3name">Name: </label>
									<div class="controls"> 
										<input type="text" id="t3name"  name="t3name" value="[[+t3name]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
		
								
								<div class="control-group">
									[[!+fi.error.t3email]]
									<label class="control-label" for="t3email">Email: </label>
									<div class="controls"> 
										<input type="text" id="t3email"  name="t3email" value="[[+t3email]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group">
									[[!+fi.error.t3phone]]
									<label class="control-label" for="t3phone">Phone: </label>
									<div class="controls"> 
										<input type="text" id="t3phone"  name="t3phone" value="[[+t3phone]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<h3>Shooter 4 (Optional)*</h3>
								
								<div class="control-group">
									[[!+fi.error.t4name]]
									<label class="control-label" for="t4name">Name: </label>
									<div class="controls"> 
										<input type="text" id="t4name"  name="t4name" value="[[+t4name]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								
								
								<div class="control-group">
									[[!+fi.error.t4email]]
									<label class="control-label" for="t4email">Email: </label>
									<div class="controls"> 
										<input type="text" id="t4email"  name="t4email" value="[[+t4email]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
								<div class="control-group">
									[[!+fi.error.t4phone]]
									<label class="control-label" for="t4phone">Phone: </label>
									<div class="controls"> 
										<input type="text" id="t4phone"  name="t4phone" value="[[+t4phone]]" class="input-xlarge">
									</div><!-- /.controls -->     							
								</div><!-- /.control-group -->
								
							
								

<div class="edit-utility">

	<input type="submit" value="Update" id="form_team_submit" name="submit" class="general_button" />

</div>
							