<div class="loginForm">
    <div class="loginMessage">[[+errors]]</div>
    <div class="loginLogin">
        <form class="loginLoginForm" action="[[~[[*id]]]]" method="post">
            <fieldset class="loginLoginFieldset">
                <label class="loginUsernameLabel">[[%login.username]]</label>
                <input class="loginUsername" type="text" name="username" />
                <label class="loginPasswordLabel">[[%login.password]]</label>
                <input class="loginPassword" type="password" name="password" />
                <input class="returnUrl" type="hidden" name="returnUrl" value="[[+request_uri]]" />

                [[+login.recaptcha_html]]
                
                <input class="loginLoginValue" type="hidden" name="service" value="login" />
                <input type="submit" name="Login" value="[[+actionMsg]]" />
            </fieldset>
        </form>
    </div>
</div>