<div class="event_list_item [[+tv.event_time_start:islessthan=`[[current_date]]`:then=`past_item grid_9 alpha omega`:else=`grid_12`]]" data-year="[[+tv.event_time_start:strtotime:date=`%Y`]]">
	<div class="[[+tv.event_time_start:islessthan=`[[current_date]]`:then=``:else=`grid_3`]] left alpha">
		<h2>[[+pagetitle]]</h2>
		<p>
			<strong>Date:</strong> [[+tv.event_time_start:strtotime:date=`%B %e, %Y`]]<br />
			[[+tv.event_allday:isnot=`Yes`:then=`
			  [[+tv.event_time_start:isnot=``:then=`
  			<strong>Time:</strong> [[+tv.event_time_start:strtotime:date=`%I:%M %p`]] [[+tv.event_time_end:isnot=``:then=`
  			  - [[+tv.event_time_end:strtotime:date=`%I:%M %p`]]<br />
  			`]]
  			`]]
			`]]
			[[+tv.event_location:isnot=``:then=`<strong>Location:</strong> [[+tv.event_location]]`]]
		</p>
	</div><!--/.grid_3-->
	<div class="[[+tv.event_time_start:islessthan=`[[current_date]]`:then=``:else=`grid_7`]] middle" data-year="[[+tv.event_time_start:strtotime:date=`%Y`]]">
		<p>[[+introtext]]</p>
	</div><!--/.grid_7-->
	<div class="[[+tv.event_time_start:islessthan=`[[current_date]]`:then=``:else=`grid_2`]] right omega">
		[[+content:isnt=``:then=`
		<div class="read_more_button">
		  <a href="[[~[[+id]]]]">Read More</a>
		</div><!--/.read_more_button -->
		`]]
	</div><!--/.grid_2-->
</div><!--/.upcoming_event_item-->