	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border suites grid_12">
					<div class="content_banner suites">
							<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>
							<span class="introtext grid_6 omega">[[*general_introtext]]</span>
					</div><!-- /.home_content -->			
				</div><!-- /.home_content_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_4 push_4">
						<li class="suite_icon_1"><a href="#suite-info">Suite Info</a></li>
						<li class="suite_icon_2"><a href="#faq">FAQ's</a></li>
					</ul>
					<hr class="grid_12" />
					<div class="grid_12 content_header suites">
						<h1 id="suite-info">Suite Info</h1>
					</div><!--/.content_header -->
					<div class="grid_1 arrow_container">
						<a id="prev_suite" class="suite_slideshow_arrow left ir">Click Here for Previous Suite</a>
					</div><!--/.arrow_container left-->
					<div class="suite_slideshow_nav grid_10">
						<ul id="slide_links">
					      	[[getResources? 
							&parents=`-1` 
							&resources=`3` 
							&tpl=`tpl-suite_nav` 
							&includeTVs=`1` 
							&processTVs=`1`
							]]
				      	</ul>
					</div><!--/.slideshow_nav-->
					<div class="grid_1 arrow_container">
						<a id="next_suite" class="suite_slideshow_arrow right ir">Click Here for Next Suite</a>
					</div><!--/.arrow_container right-->
					<div class="suite_slideshow grid_11 push_1">				
						[[getImageList?
						&tvname=`MIGX-suites`
						&tpl=`tpl-migx-suites`
						&limit=`10`
					]]	
					 </div><!--/.suite_slideshow -->
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->		
			<div class="main_content_bottom suites full">
				<div class="container_12">
					<hr class="grid_12" />
					<div class="grid_12 content_header suites">
						<h1 id="faq">FAQ's</h1>
					</div><!--.content_header_about -->				
					[[getImageList?
						&tvname=`MIGX-suite_faq`
						&tpl=`tpl-migx-suite_faq`
					]]	
				</div><!-- /.container_12 -->
			</div><!-- /.main_content -->	
		</div><!-- /#main -->
    	<div class="push"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>