	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="main_content_top_bg full  general">
				<div class="container_12 main_content_top">
					<hr class="grid_12 general" />
					<div class="grid_12 content_header general">
						<h1>[[*pagetitle]]</h1>
					</div><!--/.content_header-->		
					<div class="story_text grid_12">
						[[*content]]
					</div><!--/.story_text -->
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>