	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border suites grid_12">
					<div class="content_banner donate">
							<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>		
							<form class="grid_6" action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="4TNZUNEA3AW28">
							<input class="donate_today_button ie8_corner" type="image" src="http://suitesofhope.org/assets/img/elements/none.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							</form>
							<span class="introtext_donate_quote grid_4">[[*general_introtext]]</span>
							<form class="grid_2" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="4TNZUNEA3AW28">
								<button class="introtext_donate_button" type="submit" name="submit" value="Donate Any Amount"></button>
							</form>
					</div><!-- /.content_banner -->			
				</div><!-- /.content_banner_border -->
			</div><!-- /.container_12 -->	
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_4 push_4">
						<li class="donor_icon_1"><a href="#donor-levels">Donor Levels</a></li>
						<li class="donor_icon_2"><a href="#registry">Registry</a></li>
					</ul>
					<hr class="grid_12" />
					<div class="grid_12 content_header donate">
						<h1 id="donor-levels">Donor Levels</h1>
					</div><!--/.content_header -->
					<div class="donate_text grid_6">
						<p>[[*donate_introtext]]</p>
					</div><!-- /.donate_text -->
					<div class="donate_pullquote grid_6">
						<p>[[*donate_pullquote]]</p>
					</div><!-- /.donate_pullquote -->
					<div class="donate_medals grid_12 pull-left">
						<div class="grid_4 diamond_level alpha">
							<h2>$[[*donate_amount_level1]]</h2>
							<p>[[*donate_content_level1]]</p>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="LR964HJ3U7HVS">
								<button class="donate_today_button ie8_corner" type="submit" name="submit" value="Donate Today">
									Donate Today
								</button>
							</form>
							<hr />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="KHYE29Y734FSA">
								<button class="button_link" type="submit" name="submit" value="Donate over 6 months">
									Donate over 6 months
								</button>
							</form>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="ZYHE2SY54L7GL">
								<button class="button_link" type="submit" name="submit" value="Donate over 12 months">
									Donate over 12 months
								</button>
							</form>
							<hr />
						</div><!--/.diamond -->
						<div class="grid_4 platinum_level">
							<h2>$[[*donate_amount_level2]]</h2>
							<p>[[*donate_content_level2]]</p>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="99FEK9F6TY2VA">
								<button class="donate_today_button ie8_corner" type="submit" name="submit" value="Donate Today">
									Donate Today
								</button>
							</form>
							<hr />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="BWL9PT4P8GFDQ">
								<button class="button_link" type="submit" name="submit" value="Donate over 6 months">
									Donate over 6 months
								</button>
							</form>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="MP3C58MKRXZR4">
								<button class="button_link" type="submit" name="submit" value="Donate over 12 months">
									Donate over 12 months
								</button>
							</form>
							<hr />
						</div><!-- /.platinum -->
						<div class="grid_4 gold_level omega">
							<h2>$[[*donate_amount_level3]]</h2>
							<p>[[*donate_content_level3]]</p>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="5XJ3874S793BA">
								<button class="donate_today_button ie8_corner" type="submit" name="submit" value="Donate Today">
									Donate Today
								</button>
							</form>
							<hr />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="EDLEZFR5AHHX4">
								<button class="button_link" type="submit" name="submit" value="Donate over 12 months">
									Donate over 6 months
								</button>
							</form>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="85EXM4PSAGLZL">
								<button class="button_link" type="submit" name="submit" value="Donate over 12 months">
									Donate over 12 months
								</button>
							</form>
							<hr />
						</div><!-- /.gold -->
					</div><!--/.donate_medals -->		 
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
			<div class="main_content_bottom donate full">
				<div class="container_12">
					<hr class="grid_12" />
					<div class="grid_12 content_header donate">
						<h1 id="registry">Registry</h1>
					</div><!--.content_header_about -->
					<div class="registry_links_border ie8_corner grid_4">
						<div class="registry_links ie8_corner">
							<h1>Registry Links:</h1>
							[[*donate_registry_links]]
						</div><!-- /.registry_links -->
					</div><!-- /.registry_links_border -->
					<div class="registry_items">
						<div class="item_list_one equal grid_3 push_1">
							<h1>[[*donate_title1]]</h1>
							[[*donate_list1]]
						</div>
						<div class="item_list_two equal grid_3 push_1">
							<h1>[[*donate_title2]]</h1>
							[[*donate_list2]]
						</div>
						<div class="item_list_three equal  grid_3 push_1">
							<h1>[[*donate_title3]]</h1>
							[[*donate_list3]]
						</div>
						<div class="item_list_four equal grid_3 push_1">
							<h1>[[*donate_title4]]</h1>
							[[*donate_list4]]
						</div>
					</div><!-- /.registry_items -->
				</div><!-- /.container_12 -->
			</div><!-- /.main_content -->
		</div><!-- /#main -->
    	<div class="push"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>