	[[$head]]
    <div class="sticky_wrapper">
    	[[$header-pp]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border suites grid_12">
					<div class="content_banner register">
							<!--
<span class="pullquote grid_5 alpha"></span>
							<span class="introtext grid_6 omega"></span>
-->
					</div><!-- /.home_content -->			
				</div><!-- /.home_content_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg full  general">
				<div class="container_12 main_content_top">
			
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>

					<ul id="scrolls" class="sub_nav grid_4 push_4">
						<li class="register_icon_1 [[*id:is=`41`:then=`active`]]"><a href="[[~41]]" data-form="form_individual">Individual</a></li>
						<li class="register_icon_2 [[*id:is=`83`:then=`active`]]"><a href="[[~83]]" data-form="form_team">Teams</a></li>
					</ul>
					
					<hr class="grid_12 general" />
					<div class="grid_12 content_header register">
						<h1>Register</h1>
					</div><!--/.content_header-->		
					<div id="pink-pigeons" class="story_text grid_12">
						 
					 
					 	[[!registerCount:isgte=`[[#80.tv.register_max]]`:then=`
					 		<p>[[#80.tv.register_closed]]</p>
					 	`:else=`
					 		[[!*id:is=`41`:then=`[[!$pp_form_ind]]`:else=`[[!$pp_form_team]]`]]
					 	`]]
					 
					</div><!--/.story_text -->
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer-pp]]
   	[[$scripts]]
	</body>
</html>