	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border suites grid_12">
					<div class="content_banner donate">
							<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>
							<span class="introtext_donate_quote grid_4">[[*general_introtext]]</span>

              <div class="donate_form grid_2">
                 <form action="https://suitesofhope.foxycart.com/cart" method="post" accept-charset="utf-8">
                  <button class="introtext_donate_button" type="submit" name="submit" value="Donate Any Amount"></button>
                  <span>$ </span><input size="3" type="text" name="price" value="">
                  <input type="hidden" name="name" value="Donation">
                </form>
              </div>

					</div><!-- /.content_banner -->
				</div><!-- /.content_banner_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_4 push_4">
						<li class="donor_icon_2"><a href="#donation-cart">Donation Cart</a></li>
						<li class="donor_icon_1"><a href="#donor-levels">Donor Levels</a></li>
					</ul>
					<hr class="grid_12" />
					<div class="grid_12 content_header donate">
						<h1 id="donation-cart">Donation Cart</h1>
					</div><!--/.content_header -->

					<div id="donation_cart" class="donation_container">
				    <div class="grid_12">
  					  <div class="controls">
      				  <a class="foxycart first_1" href="https://suitesofhope.foxycart.com/cart?" title="View your cart">VIEW CART</a>
      				</div>
  					</div>
  					<div class="grid_12">
  					  [[*id:is=`4`:then=`
    					  [[getImageList?
      						&tvname=`MIGX-donation_cart`
      						&tpl=`tpl-migx-donation_cart`
      					]]
  					  `:else=`
  					    [[getImageList?
      						&tvname=`MIGX-donation_cart`
      						&tpl=`tpl-migx-donation_cart-with-desc`
      					]]
  					  `]]

  					</div>
  					<div class="grid_12 last_1">
  					  <div class="controls">
      				  <a class="foxycart" href="https://suitesofhope.foxycart.com/cart?" title="View your cart">VIEW CART</a>
      				</div>
  					</div>
					</div><!--/#donation_cart-->


          <hr class="grid_12" />
					<div class="grid_12 content_header donate">
						<h1 id="donor-levels">Donor Levels</h1>
					</div><!--/.content_header -->


					<div class="donate_text grid_6">
						<p>[[*donate_introtext]]</p>
					</div><!-- /.donate_text -->
					<div class="donate_pullquote grid_6">
						<p>[[*donate_pullquote]]</p>
					</div><!-- /.donate_pullquote -->

					<div class="donate_medals grid_12 pull-left">
						<div class="grid_4 diamond_level alpha" data-level="[[*donate_amount_level1]]">
							<h2>$[[*donate_amount_level1]]</h2>
							<p>[[*donate_content_level1]]</p>
							<form action="https://suitesofhope.foxycart.com/cart" method="post" accept-charset="utf-8">
								<input type="hidden" name="name" value="Diamond Level Donation" />
            		<input type="hidden" name="price" value="[[*donate_amount_level1]]" />
            		<input type="hidden" name="quantity" value="1" />
								<button class="donate_today_button ie8_corner" type="submit" name="submit" value="Donate Today">
									Donate Today
								</button>
							</form>
						</div><!--/.diamond -->
						<div class="grid_4 platinum_level" data-level="[[*donate_amount_level2]]">
							<h2>$[[*donate_amount_level2]]</h2>
							<p>[[*donate_content_level2]]</p>
							<form action="https://suitesofhope.foxycart.com/cart" method="post" accept-charset="utf-8">
								<input type="hidden" name="name" value="Platinum Level Donation" />
            		<input type="hidden" name="price" value="[[*donate_amount_level2]]" />
            		<input type="hidden" name="quantity" value="1" />
								<button class="donate_today_button ie8_corner" type="submit" name="submit" value="Donate Today">
									Donate Today
								</button>
							</form>
						</div><!-- /.platinum -->
						<div class="grid_4 gold_level omega" data-level="[[*donate_amount_level3]]">
							<h2>$[[*donate_amount_level3]]</h2>
							<p>[[*donate_content_level3]]</p>
							<form action="https://suitesofhope.foxycart.com/cart" method="post" accept-charset="utf-8">
								<input type="hidden" name="name" value="Gold Level Donation" />
            		<input type="hidden" name="price" value="[[*donate_amount_level3]]" />
            		<input type="hidden" name="quantity" value="1" />
								<button class="donate_today_button ie8_corner" type="submit" name="submit" value="Donate Today">
									Donate Today
								</button>
							</form>
						</div><!-- /.gold -->
					</div><!--/.donate_medals -->
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>