	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main" class="home_bg full">
			<div class="container_12">
				<div class="home_content_border grid_12">
					<div class="home_content">
						<h1>[[*home_banner_text]] </h1>
					</div><!-- /.home_content -->			
				</div><!-- /.home_content_border -->
				<div class="home_box_border box_1 grid_4">
					<a href="[[~[[*home_box1_link]]]]" class="pull-left">
						<div class="home_box box_1">
							<h1>[[*home_box1_title]]</h1>
							<p>[[*home_box1_content]]</p>
						</div><!-- /.home_box -->
					</a>
				</div><!-- /.home_box_border -->
				<div class="home_box_border box_2 grid_4">
					<a href="[[~[[*home_box2_link]]]]" class="pull-left">
						<div class="home_box box_2">
							<h1>[[*home_box2_title]]</h1>
							<p>[[*home_box2_content]]</p>
						</div><!-- /.home_box -->
					</a>
				</div><!-- /.home_box_border -->
				<div class="home_box_border box_3 grid_4">
					<a href="[[~[[*home_box3_link]]]]" class="pull-left">
						<div class="home_box box_3">
							<h1>[[*home_box3_title]]</h1>
							<p>[[*home_box3_content]]</p>
						</div><!-- /.home_box -->
					</a>
				</div><!-- /.home_box_border -->
			</div><!-- /.container_12 -->
		</div><!-- /#main -->
    	<div class="push"></div>
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>