<!doctype html>
<html>
<head>

  <meta charset="utf-8">
	<title>{{ store_name|raw }}</title>
<!--
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/assets/css/foxycart_cart.css">
	<script>
  	jQuery(document).ready(function(){
    	console.log(fc_json);

    	diamond_price = [[!getResourceField? &id=`4` &field=`donate_amount_level1` &isTV=`1` &processTV=`1` ]];
    	platinum_price = [[!getResourceField? &id=`4` &field=`donate_amount_level2` &isTV=`1` &processTV=`1` ]];
    	gold_price = [[!getResourceField? &id=`4` &field=`donate_amount_level3` &isTV=`1` &processTV=`1` ]];
    	diamond_name = "Diamond Level Donor"
    	platinum_name = "Platinum Level Donor"
    	gold_name = "Gold Level Donor"
    	ind_registration_name = "Individual Registration"
    	team_registration_name = "Team Registration"
    	table_item_names = Array();

      function findProductId(product_name){
        for (var k in fc_json.products){
          if(fc_json.products[k].name == product_name){
            product_id = fc_json.products[k].id;
            return product_id;
          }
        }
      }

    	jQuery('.fc_cart_item_name').each(function(){
      	table_item_name = jQuery(this).html();
      	table_item_names.push(table_item_name);
    	});

      diamond_in_table = jQuery.inArray(diamond_name, table_item_names);
      platinum_in_table = jQuery.inArray(platinum_name, table_item_names);
      gold_in_table = jQuery.inArray(gold_name, table_item_names);
      ind_in_table = jQuery.inArray(ind_registration_name, table_item_names);
      team_in_table = jQuery.inArray(team_registration_name, table_item_names);

      console.log(table_item_names);
      console.log("Ind in table: "+ind_in_table);
      
      if(ind_in_table !== -1 || team_in_table !== -1){
	      console.log("Dont show donor stuff");
	      return false;
      }else{
	      console.log("Dooo show donor stuff");
	      
		    if(fc_json.total_price >= diamond_price){ // Diamond Level
	      	console.log("Inside Diamond...");
	
	        if(diamond_in_table === -1){
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&name='+diamond_name+'&price=0&quantity=1&cart=add'
	    	  }
	    	  if(platinum_in_table !== -1){ // remove platinum from cart
	          platinum_id = findProductId(platinum_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+platinum_id;
	    	  }
	    	  if(gold_in_table !== -1){ // remove gold from cart
	          gold_id = findProductId(gold_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+gold_id;
	    	  }
	      }else if((fc_json.total_price >= platinum_price) && (fc_json.total_price < diamond_price)){ // Platinum Level
	      	console.log("Inside Plat...");
	
	        if(platinum_in_table === -1){ // add platinum to cart
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&name='+platinum_name+'&price=0&quantity=1&cart=add'
	    	  }
	        if(gold_in_table !== -1){ // remove gold from cart
	          gold_id = findProductId(gold_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+gold_id;
	    	  }
	    	  if(diamond_in_table !== -1){ // remove diamond from cart
	          diamond_id = findProductId(diamond_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+diamond_id;
	    	  }
	    	}else if((fc_json.total_price >= gold_price) && (fc_json.total_price < platinum_price)){ // Gold Level
	        console.log("Inside Gold...");
	
	        if(gold_in_table === -1){ // add gold to cart
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&name='+gold_name+'&price=0&quantity=1&cart=add'
	    	  }
	    	  if(platinum_in_table !== -1){ // remove platinum from cart
	          platinum_id = findProductId(platinum_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+platinum_id;
	    	  }
	    	  if(diamond_in_table !== -1){ // remove diamond from cart
	          diamond_id = findProductId(diamond_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+diamond_id;
	    	  }
	    	}else{ // cart total under $250
	      	if(gold_in_table !== -1){ // remove gold from cart
	          gold_id = findProductId(gold_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+gold_id;
	    	  }
	      	if(platinum_in_table !== -1){ // remove platinum from cart
	          platinum_id = findProductId(platinum_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+platinum_id;
	    	  }
	    	  if(diamond_in_table !== -1){ // remove diamond from cart
	          diamond_id = findProductId(diamond_name);
	      	  window.location = 'https://suitesofhope.foxycart.com/cart?&fcsid='+fc_json.session_id+'&cart=update&1:quantity=0&1:id='+diamond_id;
	    	  }
	    	}
      }//end else
     

    	
    });//doc ready
  </script>

</head>
<body class="foxycart cart">
  <div id="container">
    {% use 'cart.inc.twig' %}
    {{ block('cart') }}
  </div> <!--! /#container -->
</body>
</html>