	[[$head]]

		<div id="main" role="main">

		<div class="edit-utility" style="margin: 15px;">
			<a href="[[~99]]" target="_blank">Export CSV</a>
		</div>
		

		<table id="submissions" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
	            	<th></th>
                <th>Type</th>
                <th>Flight</th>
                <th>Team Name</th>
                <th>Captain Name</th>
                <th>Captain Email</th>
                <th>Captain Phone</th>
                <th>Cart Type</th>
                <th>Cart Amount</th>
                <th>Shooter 2 Name</th>
                <th>Shooter 2 Email</th>
                <th>Shooter 2 Phone</th>
                <th>Shooter 3 Name</th>
                <th>Shooter 3 Email</th>
                <th>Shooter 3 Phone</th>
                <th>Shooter 4 Name</th>
                <th>Shooter 4 Email</th>
                <th>Shooter 4 Phone</th>
            </tr>
        </thead>
        <tbody>
	        	[[!Rowboat?
						   &table=`modx_golfteams`
						   &tpl=`pp_submission_item`
						   &limit=`10000`
						   &sortBy=`id`
						   &cacheResults=`0`
						]]
        </tbody>
    </table>
		
		
		
		
		</div><!-- /#main -->



   	[[$scripts]]
	</body>
</html>