	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_5 push_3">
					  [[*template:is=`9`:then=`
              <li class="events_icon_1 active"><a href="[[~12]]">Upcoming Events</a></li>
              <li class="events_icon_2"><a href="[[~20]]">Past Events</a></li>
            `:else=`
              <li class="events_icon_1"><a href="[[~12]]">Upcoming Events</a></li>
              <li class="events_icon_2 active"><a href="[[~20]]">Past Events</a></li>
            `]]
					</ul>
					<hr class="grid_12 event_hr" />
					<div class="grid_12 content_header about">
					  [[*template:is=`9`:then=`
              <h1 id="upcoming-events">Upcoming Events</h1>
            `:else=`
              <h1 id="past-events">Past Events</h1>
            `]]
					</div><!-- /.content_header -->
					[[*template:is=`9`:then=`
            <div class="upcoming_calendar">
              <p class="no_events">There are no upcoming events.<p>
             [[!getPage?
               &element=`getResources`
               &parents=`[[*id]]`
               &limit=`5`
               &pageVarKey=`page`
               &includeTVs=`1`
               &processTVs=`1`
               &includeContent=`1`
               &processTVList= `event_time_start`
                &sortbyTVType= `datetime`
                &sortbyTV= `event_time_start`
                &sortdirTV= `DESC`
               &tvFilters=`event_time_start>=[[current_date]]`
               &where=`{"template:=":10}`
               &tpl=`tpl-event_list_item`
            ]]
          `:else=`
            <div class="past_calendar">
					  <div class="past_archives grid_2">
              <span class="event_title">Archive</span>
              [[Wayfinder? &startId=`12` &level=`1`]]
					  </div>
					  <div class="grid_9 past_container">
				      <span class="event_title view_year">[[*pagetitle]]</span>
              [[!getPage?
                 &element=`getResources`
                 &parents=`[[*id]]`
                 &limit=`5`
                 &pageVarKey=`page`
                 &includeTVs=`1`
                 &processTVs=`1`
                 &includeContent=`1`
                 &tvFilters=`event_time_start<=[[current_date]]`
                 &where=`{"template:=":10}`
                 &tpl=`tpl-event_list_item`
              ]]
					  </div><!--/.grid_7-->
          `]]
             <div class="paging">
              <ul class="pageList">
                [[!+page.nav]]
              </ul>
            </div>

					</div><!--/.upcoming_calendar and /.past_calendar-->

				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
  [[$scripts]]
	</body>
</html>