	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border contribute grid_12">
					<div class="content_banner contribute">
						<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>
						<span class="introtext grid_6 omega">[[*general_introtext]]</span>
					</div><!-- /.content_banner -->			
				</div><!-- /.content_banner_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top contribute">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_6 push_3">
						<li class="contribute_icon_1"><a href="#stories-of-hope">Stories Of Hope</a></li>
						<li class="contribute_icon_2"><a href="#list-of-donors">List of Donors</a></li>
					</ul>
					<hr class="grid_12" />
					<div class="grid_12 content_header contribute">
						<h1 id="stories-of-hope">Stories of Hope</h1>
					</div><!--/.content_header -->
					<div class="grid_1 arrow_container">
						<a id="prev_story" class="story_slideshow_arrow storyA_arrow left ir">Click Here for Previous Story</a>
					</div>
					<div class="story_slideshowA grid_10">
						[[getImageList?
							&tvname=`MIGX-story_slideshowA`
							&tpl=`tpl-migx-story_slideshowA`
						]]	
					</div><!--/.story_slideshowA -->
					<div class="grid_1 arrow_container">
						<a id="next_story" class="story_slideshow_arrow storyA_arrow right ir">Click Here for Next Story</a>
					</div><!--/. arrow_container -->
					 <hr class="grid_12" />
					<hr class="hr_key ir grid_12 contribute" />
					<div class="ie7_hr_key ir">Key</div>
					<div class="grid_1 arrow_container">
						<a id="prev_storyB" class="story_slideshow_arrow storyB_arrow left ir">Click Here for Previous Story</a>
					</div><!--/. arrow_container -->
					<div class="story_slideshowB grid_10">		
						[[getImageList?
							&tvname=`MIGX-story_slideshowB`
							&tpl=`tpl-migx-story_slideshowB`
						]]	
					</div><!--/.story_slideshowB -->		
					<div class="grid_1 arrow_container">
						<a id="next_storyB" class="story_slideshow_arrow storyB_arrow right ir">Click Here for Next Story</a>
					</div><!--/. arrow_container -->
					 <hr class="grid_12" />
					<hr class="hr_key ir grid_12 contribute" />
					<div class="ie7_hr_key ir">Key</div>
					<div class="grid_1 arrow_container">
						<a id="prev_storyC" class="story_slideshow_arrow storyC_arrow left ir">Click Here for Previous Story</a>
					</div><!--/. arrow_container -->
					<div class="story_slideshowC grid_10">
						[[getImageList?
							&tvname=`MIGX-story_slideshowC`
							&tpl=`tpl-migx-story_slideshowC`
						]]	
					</div><!--/.story_slideshowC -->		
					<div class="grid_1 arrow_container">
						<a id="next_storyC" class="story_slideshow_arrow storyC_arrow right ir">Click Here for Next Story</a>
					</div><!--/. arrow_container -->			 
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
			<div class="main_content_bottom contribute full">
				<div class="container_12">
					<hr class="grid_12" />
					<div class="grid_12 content_header contribute">
						<h1 id="list-of-donors">List of Donors</h1>
					</div><!--.content_header_about -->
					<div class="donor_list pull-left">
						<div class="grid_4 diamond_donors">
							<a class="donate_today_button ie8_corner" href="[[~4]]#donor-levels">Donate Today</a>
							[[*contribute_level1_list]]
							<ul>
								[[getDonorsDiamond]]
							</ul>
						</div><!--/.diamond_donors -->
						<div class="grid_4 platinum_donors">
							<a class="donate_today_button ie8_corner" href="[[~4]]#donor-levels">Donate Today</a>
							[[*contribute_level2_list]]
							<ul>
								[[getDonorsPlatinum]]
							</ul>	
						</div><!--/.platinum_donors -->
						<div class="grid_4 gold_donors">
							<a class="donate_today_button ie8_corner" href="[[~4]]#donor-levels">Donate Today</a>
							[[*contribute_level3_list]]
							<ul>
							[[getDonorsGold]]
							</ul>	 
						</div><!--/.gold_donors -->
					</div><!--/.donor_list -->
					<hr class="contribute_hr grid_12" />
					<hr class="hr_key contribute_key contribute_hr2 ir grid_12" />
					<div class="ie7_hr_key ie7_contribute ir">Key</div>
					<div class="donor_box_border ie8_corner grid_4">
						<div class="donor_box ie8_corner">
							<h1>Sponsors</h1>
							<ul>
							[[getImageList?
								&tvname=`MIGX-sponsors`
								&tpl=`tpl-migx-sponsors`
							]]
							</ul>												
						</div><!-- /.donor_box -->
					</div><!-- /.donor_box_border -->
					<div class="donor_box_border ie8_corner grid_4">
						<div class="donor_box ie8_corner">
							[[*contribute_box2_list]]			
						</div><!-- /.donor_box --> 
					</div><!-- /.donor_box_border -->
					<div class="donor_box_border ie8_corner grid_4">
						<div class="donor_box ie8_corner">
							[[*contribute_box3_list]]
						</div><!-- /.donor_box -->
					</div><!-- /.donor_box_border -->
					
					<div class="donor_box_border ie8_corner grid_12">
						<div class="donor_box donator_list ie8_corner">
							[[*contribute_donator_list]]
							<ul>
							[[!Rowboat?
							   &table=`foxycart_donation_info`
							   &tpl=`tpl-rb-donated`
							   &limit=`1000`
							   &sortBy=`id`
							]]
							</ul>											
						</div><!-- /.donor_box -->
					</div><!-- /.donor_box_border -->
				
					
				</div><!-- /.container_12 -->
			</div><!-- /.main_content -->
		</div><!-- /#main -->
    	<div class="push"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>