	[[$head]]
    <div class="sticky_wrapper">
    	[[$header-pp]]
		<div id="main" role="main">
			<div class="main_content_top_bg full  general">
				<div class="container_12 main_content_top">
					<hr class="grid_12 general" />
					<div class="grid_12 content_header register">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					</div><!--/.content_header-->		
					<div id="pink-pigeons-review" class="story_text grid_12" >
						
						<!-- <p>Testing - Currently registered: [[-!registerCount]]</p>  -->
						<p>Processing registration...</p>
			
						<div class="form_section grid_12 alpha" data-form="form_individual"> 
							
							<form id="[[!getUrlParam? &name=`rt`]]" class="form form-horizontal" action="https://suitesofhope.foxycart.com/cart?" method="post" accept-charset="utf-8">
							  <div class="grid_12">
										<div class="control-group">
								  		<div class="controls">
								  			<input type="hidden" name="name" value="[[!getUrlParam? &name=`rt`]] Registration" />
								  			<input type="hidden" name="price" value="[[!switch?
											    &get=`[[!getUrlParam? &name=`rt`]]`
											    &c1=`Individual` &do1=`[[#41.tv.register_ind]]`
											    &c2=`Team` &do2=`[[#41.tv.register_team]]`
											  ]]" />
								  			<input type="hidden" name="quantity" value="1" />
								  			<input type="hidden" name="fullname" value="[[!getUrlParam? &name=`fullname`]]" />
								  			<input type="hidden" name="phone" value="[[!getUrlParam? &name=`phone`]]" />
								  			<input type="hidden" name="email" value="[[!getUrlParam? &name=`email`]]" />
<!--
								  			<input type="hidden" name="2:name" value="2-Person Cart" />
								  			<input type="hidden" name="2:price" value="[[-#41.tv.register_cart]]" />
								  			<input type="hidden" name="2:quantity" value="[[-!getUrlParam? &name=`qc2`]]" />
-->
								  			
								  			<input type="hidden" name="3:name" value="4-Person Cart" />
								  			<input type="hidden" name="3:price" value="[[#41.tv.register_cart_2]]" />
								  			<input type="hidden" name="3:quantity" value="[[!getUrlParam? &name=`qc4`]]" />
								  		</div>
										</div>
										<div class="control-group">
								  		<div class="controls">
								  		  <p>If you are experiencing issues processing the form, please <input type="submit" value="click here" class="text-submit"/> to continue.</p>
								  		  
								  		</div>
										</div>
							
							  </div><!--/.grid_12-->
							</form>
							
							
						</div><!--/.form_indvidual-->
						
			
	
					</div><!--/.story_text -->
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer-pp]]
   	[[$scripts]]
	</body>
</html>