	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_5 push_3">
					  [[*event_time_start:islessthan=`[[current_date]]`:then=`
					    <li class="events_icon_1"><a href="[[~12]]">Upcoming Events</a></li>
						  <li class="events_icon_2 active "><a href="[[~20]]">Past Events</a></li>
					  `:else=`
					    <li class="events_icon_1 active"><a href="[[~12]]">Upcoming Events</a></li>
						  <li class="events_icon_2"><a href="[[~20]]">Past Events</a></li>
					  `]]
					</ul>
					<hr class="grid_12" />
					<div class="grid_12 content_header about">
					  [[*event_time_start:islessthan=`[[current_date]]`:then=`<h1 id="past-events">Past Events</h1>`:else=`<h1 id="upcoming-events">Upcoming Events</h1>`]]
					</div><!-- /.content_header -->

					<div class="event_detail_item grid_12">
            <div class="grid_3 event_info alpha">
              <div class="back_events">
                [[*event_time_start:islessthan=`[[current_date]]`:then=`<a onclick="history.back()" class="back_past">Back to Past Events</a>`:else=`<a onclick="history.back()" class="back_upcoming">Back to Upcoming Events</a>`]]
              </div><!--/.back_events-->
            	<h2>[[*pagetitle]]</h2>
            		<p>
            			<strong>Date:</strong> [[*event_time_start:strtotime:date=`%B %e, %Y`]]<br />
            			[[*event_allday:isnot=`Yes`:then=`
            			   [[*event_time_start:isnot=``:then=`
              			<strong>Time:</strong> [[*event_time_start:strtotime:date=`%I:%M %p`]] [[*event_time_end:isnot=``:then=`
              			  - [[*event_time_end:strtotime:date=`%I:%M %p`]]<br />
              			`]]
              			`]]
            			`]]
                  [[*event_location:isnot=``:then=`<strong>Location:</strong> [[+tv.event_location]]`]]
            		</p>
            </div><!--/.grid_4-->
            <div class="grid_1 arrow_container">
            	<a id="prev_event" class="event_slider_arrow left ir">Left</a>
            </div>
            <div class="grid_7 event_desc omega">
              <div class="event_slider">
                [[getImageList?
      						&tvname=`MIGX-event_gallery`
      						&tpl=`@CODE:<img src="[[+eventImage]]" width="100%"/>`
      					]]
              </div>
            	<p>[[*content]]</p>
            </div><!--/.grid_6-->
            <div class="grid_1 arrow_container">
            <a id="next_event" class="event_slider_arrow right ir">Right</a>
            </div><!--/. arrow_container -->
            </div><!/.grid_12-->

				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
  [[$scripts]]
	</body>
</html>