	[[$head]]
    <div class="sticky_wrapper">
    	[[$header-pp]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border suites grid_12">
					<div class="content_banner register">
							<!--
<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>
							<span class="introtext grid_6 omega">[[*general_introtext]]</span>
-->
					</div><!-- /.home_content -->			
				</div><!-- /.home_content_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg full  general">
				<div class="container_12">
					<div class="grid_8">
						[[*content]]
					</div><!--/.grid-->
					<div class="grid_4">
						[[!registerCount:isgte=`[[#80.tv.register_max]]`:then=`
					 		[[*register_closed]]
					 	`:else=`
					 		[[*register_open]]
					 		<p><strong>Unable to attend Pink Pigeons? Donate directly to Suites of Hope.</strong><br /> <a class="general_button" href="http://suitesofhope.org/donate">Donate Now</a></p>
					 	`]]
					</div><!--/.grid_4-->
				</div>
			</div><!-- /.main_content_top -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer-pp]]
   	[[$scripts]]
	</body>
</html>