	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border contact grid_12">
					<div class="content_banner contact">
						<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>
						<span class="introtext grid_6 omega">[[*general_introtext]]</span>
					</div><!-- /.content_banner -->			
				</div><!-- /.content_banner_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg .ie7_contact_bg full">
				<div class="container_12 main_content_top contact">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul class="sub_nav grid_4 push_4">
						<li id="form_trigger_1" class="contact_icon_1"><a href="[[*alias]]#patient-form">Patient</a></li>
						<li id="form_trigger_2" class="contact_icon_2"><a href="[[*alias]]#donor-form">Donor</a></li>
					</ul><!--/.sub_nav -->
					<div class="contact_arrows grid_12">
						<div class="patient_arrow ir">View Patient Contat Form</div>
						<div class="donor_arrow ir">View Donor Contact Form</div>
					</div><!--/.contact_arrows -->
					<div class="contact_header grid_12">
						<h1>We can’t wait to meet you! Select the patient or donor icon above to get in touch with the Suites of Hope team.</h1>
					</div><!--/.contact_header -->
					<div class="grid_12">
						<div id="form_1" class="patient_form">[[$patient_form]]</div>
						<div id="form_2" class="donor_form">[[$donor_form]]</div>
					</div><!-- /.grid_12 -->
				</div><!-- /.container_12 -->
			</div><!-- /.main_content -->
		</div><!-- /#main -->
    	<div class="push general"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>