	[[$head]]
    <div class="sticky_wrapper">
    	[[$header]]
		<div id="main" role="main">
			<div class="container_12">
				<div class="content_banner_border about grid_12">
					<div class="content_banner about">
							<span class="pullquote grid_5 alpha">[[*general_pullquote]]</span>
							<span class="introtext grid_6 omega">[[*general_introtext]]</span>
					</div><!-- /.home_content -->
				</div><!-- /.home_content_border -->
			</div><!-- /.container_12 -->
			<div class="main_content_top_bg full">
				<div class="container_12 main_content_top">
					<hr class="grid_12" />
					<hr class="hr_key ir grid_12" />
					<div class="ie7_hr_key ir">Key</div>
					<ul id="scroll" class="sub_nav grid_4 push_4">
						<li class="about_icon_1"><a id="story_scroll" href="#our-story">Our Story</a></li>
						<li class="about_icon_2"><a href="#staff-bios">Staff Bio's</a></li>
					</ul>
					<hr class="grid_12" />
					<div class="grid_12 content_header about ">
						<h1 id="our-story">Our Story</h1>
					</div><!-- /.content_header -->
						<div class="about_image_border grid_4">
							<img src="[[*about_image]]" alt="Our Story Image" title="Our Story image" width="298" height="220"/>
						</div><!--/.about_image_border -->
						<div class="story_text grid_8">
							[[*content]]
						</div><!--/.story_text -->
				</div><!--/.container_12 main_content_top -->
			</div><!-- /.main_content_top -->
			<div class="main_content_bottom about full">
				<div class="container_12">
					<hr class="grid_12" />
					<div class="grid_12 content_header about">
						<h1 id="staff-bios">Staff Bio's</h1>
					</div><!--.content_header_about -->
					[[getImageList?
						&tvname=`MIGX-staff_bios`
						&tpl=`tpl-migx-staff_bios`
					]]
				</div><!-- /.container_12 -->
			</div><!-- /.main_content -->
		</div><!-- /#main -->
    	<div class="push"></div>
	</div> <!--! /#container -->
	</div> <!-- /.sticky_wrapper -->
	[[$footer]]
   	[[$scripts]]
	</body>
</html>